[2015-05-20 18:13] ariel-phet opened #1 "Calculus Grapher Master Checklist"
## Design
- [x] **Design doc created** (Date: 02/10/2015)
- [x] **Legacy sim docs/info gathered**
- [x] **Learning goals and standards identified** (Date: 02/25/2015)
- [x] **Design concept complete**  (Date: 3/13/2015)
- [x] **Wireframes complete** (Date: 4/23/2015)
- [x] **Sim folder and design doc created** (Date: //)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.co

[2015-05-20 20:26] ariel-phet opened #2 "Review existing unfuddle ticket 2660"
@amanda-phet please see if this unfuddle ticket has any relevant suggestions to the redesign

https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2660

[2015-05-21 15:22] bryo5363 opened #3 "Sine function overrides tilt"
Steps to reproduce
1) open sim
2) click tilt
3) tilt the graph upwards
4) click the sine function
5)click on the line and drag downwards. Notice that there is no more tilt to the function

[2015-05-21 15:26] bryo5363 opened #4 "Consider implementing boundaries for respective functions"
This simulation can get messy very quickly. May want to implement boundaries for each function so you don't end up w/ something like this

![untitled](https://cloud.githubusercontent.com/assets/7717368/7752203/6852b8ba-ff9b-11e4-9bbb-f327a28f21da.png)

[2015-05-21 15:31] bryo5363 opened #5 "Weird behavior with sine function"
I assume I observe strange behavior w/ the sine function because it is continuous but here is a strange issue. Essentially the sine function will not initially be repetitious until a certain boundary is passed

1) open sim
2) select "Hill" option, draw a peak (or trough)
3) click sine function. drag the line upwards. Note that the sine function is not repeating, it is merely one peak
4) drag the l

[2015-05-21 15:34] phet-steele opened #6 "Migrating Buttons"
Continuously down clicking on a button, but then up clicking off the button causes them to move. This is after many repetitions:

![living buttons](https://cloud.githubusercontent.com/assets/5863899/7752384/60f0bcb0-ff9c-11e4-9c76-8c3da1006659.PNG)

Tested on Win 8.1 FF

[2015-05-21 15:40] bryo5363 commented on #6
This is a pretty familiar issue; it was observed on arithmetic and fraction matcher. I believe @jbphet has dealt with this issue before.

[2015-05-21 15:43] phet-steele commented on #5
Drawing a peak versus a trough in step 2, I see different behavior. The trough behavior is what is described in steps 3 and 4, but a peak behaves as such (ignore that stuff on the right):

![calcgra](https://cloud.githubusercontent.com/assets/5863899/7752620/ab17e3b2-ff9d-11e4-86be-b08c87ef4e68.gif)

[2015-05-21 15:51] phet-steele opened #7 "Grid Layering"
The fully zoomed out grid for f(x) is layered in front of the integral graph:

![graph cover](https://cloud.githubusercontent.com/assets/5863899/7752791/c08c61fe-ff9e-11e4-9840-7bd7aef6c053.PNG)

Tested on Win 8.1 FF

[2015-05-21 15:51] phet-steele commented on #7
It also covers the derivative graph.

[2015-05-21 17:12] bryo5363 commented on #5
Noticed this w/ a pedestal

![calculusgrapher](https://cloud.githubusercontent.com/assets/7717368/7754492/33ee24d8-ffaa-11e4-91df-79734f43f004.gif)

[2015-05-21 17:40] phet-steele opened #8 "Tilt and Shift behaviour with curvy graphs"
When dragging your mouse over a curve while trying to tilt or shift causes the graph to jump around. Presumably this is due to the mouse jumping between points on the curve. The best way to see this is to make a sine graph with small periods, then tilt and shift:

Tilt (notice it takes a second to find a point to grab and start manipulating, implying there is a space between points)
![calcgra2](ht

[2015-05-21 17:48] amanda-phet commented on #5
I've noticed this before, too. It seems that if you drag *up* first with the pedestal, hill, etc. and then drag down with the sine curve, it overrides the rest of the graph. This does not happen if you drag *down* first with the pedestal, hill, etc.

[2015-05-27 17:06] orejolaphet opened #9 "No Reset Button"
The flash simulation has no "reset all" button unlike all of the other sims. Reset All button should be added to the new version.

[2015-05-28 15:35] bryo5363 commented on #8
I noticed some other strange behavior with tilt, shift and sine. Initially I made a hill, tilted the graph and then shifted it down. When I add a sine wave, I get extremely sharp peaks when I drag the cursor upwards
![calculusgrapher2](https://cloud.githubusercontent.com/assets/7717368/7864009/d92abbd8-051c-11e5-9922-f265edc4db8d.gif)

[2015-05-28 16:16] bryo5363 opened #10 "No boundaries set for cursor"
The cursor can be moved off of the page. Since there is no reset button, once the cursor is gone it is gone.

[2015-05-28 16:23] amanda-phet commented on #2
Here are the issues that Mike wanted fixed:
1. mapquest style zoom control that indicates zoom level
2. change cursor to indicate curve type
3. user controlled smoothing for freeform drawing, including velocity regulated smoothing
4. file save/load

I don't understand 2 and don't recall discussing 4. I will bring them up in design meeting.

[2015-05-28 16:35] phet-steele commented on #8
This may be a long shot, but do you remember where on the line you grabbed when you tilted and shifted?

[2015-05-28 16:52] phet-steele opened #11 "Occurances after clicking the origin"
Discovered while looking into #8 more; after forcing the graph into its straight vertical position, manipulating the origin does some interesting things (this is easiest with tilt):

![calcgra4](https://cloud.githubusercontent.com/assets/5863899/7865541/d336f174-0526-11e5-9d7f-bf38bda81f11.gif)

The line either becomes unchangeable, as seen above, or everything just becomes sharp peaks:

![calcgra

[2015-05-28 17:00] phet-steele commented on #11
Here's another thing after the setup. Freeform is really the only thing that works, so after drawing some things then switching to hill, the graph returns to being flat when the hill is dragged past the end of the freeform drawing:

![calcgra6](https://cloud.githubusercontent.com/assets/5863899/7865812/97977934-0528-11e5-9f45-36a05aae02aa.gif)

[2015-05-28 17:09] bryo5363 opened #12 "Issues with the buttons"
I noticed that when selecting pedestal or freeform, the buttons extend out such that the buttons to the left of the two I mentioned will not be accessible. This isn't a huge issue but is something I noticed that should be cleaned up

![calculusgrapher3](https://cloud.githubusercontent.com/assets/7717368/7866012/ca8aea28-0529-11e5-97d7-0719a929932e.gif)

[2015-05-28 17:12] amanda-phet commented on #12
It seems related to the tooltip text, like that text is extending the clickable region for that button.

[2015-05-28 17:47] bryo5363 commented on #8
I believe it was right where my cursor was at the beginning of the gif. D you notice different behavior based on where you tilt and shift from?

[2015-05-28 17:50] phet-steele commented on #8
Well I'm curious if the behavior I found in #11 happens elsewhere than tilting from the origin.

[2015-05-28 21:02] bryo5363 opened #13 "Zoom function not working properly"
The zoom slider will not function properly if the user slides the button to the minimum or maximum position.

![calculusgrapher4](https://cloud.githubusercontent.com/assets/7717368/7871031/7b82355a-054a-11e5-891d-8bdc7cbdab03.gif)

[2015-05-28 21:04] amanda-phet commented on #9
This will be implemented in the HTML5 version.

[2015-05-28 21:04] #9 closed

[2015-05-28 22:14] bryo5363 commented on #8
I also noticed that when dragging the sine wave while the line is tilted that there is a slight change in the frequency of the wave

![calculusgrapher5](https://cloud.githubusercontent.com/assets/7717368/7872347/8bd572b4-0554-11e5-876c-bc78a9c42e12.gif)

[2015-05-29 16:14] orejolaphet opened #14 "Cursor can be removed from screen."
There are no boundaries for the location of the cursor. That is, the cursor can be dragged out of the screen play area.

[2015-05-29 19:53] amanda-phet commented on #14
This is a duplicate of #10. Closing.

[2015-05-29 19:53] #14 closed

[2015-05-29 19:54] amanda-phet commented on #10
We will definitely implement a boundary for the cursor (which will be called the "reference line").

[2015-06-04 15:28] amanda-phet commented on #2
Discussed in design meeting 5/28. Closing.

[2015-06-04 15:28] #2 closed

[2015-07-28 19:09] amanda-phet commented on #12
Closing this issue since we will not use tooltips in the HTML5 version.

[2015-07-28 19:09] #12 closed

[2015-08-17 23:29] pixelzoom opened #15 "remove redundant phetLibs entries in package.json"
package.json contains many entries that are automatically loaded via chipper/build.json.  They should be removed.

[2015-08-17 23:30] #15 closed

[2016-06-30 17:16] amanda-phet commented on #3
Unassigning and putting on hold until this sim is ported.

[2016-06-30 17:16] amanda-phet commented on #5
Unassigning and putting on hold until this sim is ported.

[2016-06-30 17:17] amanda-phet commented on #6
Unassigning and putting on hold until this sim is ported.

[2016-06-30 17:17] amanda-phet commented on #10
Unassigning and putting on hold until this sim is ported.

[2016-06-30 17:17] amanda-phet commented on #11
Unassigning and putting on hold until this sim is ported.

[2016-06-30 17:18] amanda-phet commented on #4
Unassigning and putting on hold until this sim is ported.

[2016-06-30 17:18] amanda-phet commented on #7
Unassigning and putting on hold until this sim is ported.

[2016-06-30 17:18] amanda-phet commented on #8
Unassigning and putting on hold until this sim is ported.

[2016-12-06 23:12] pixelzoom opened #16 "convert from PropertySet to Property"
PropertySet is deprecated and should be replaced by Property, see phetsims/axon#102. Since this sim hasn't published yet, this should be done before RC testing and publishing.

[2017-07-07 13:41] veillette commented on #16
The PropertySet was merely a placeholder. Closing.

[2017-07-07 13:41] #16 closed

[2020-06-22 22:21] brandonLi8 opened #17 "Create curve model"
Create the model for each curve. At this point, I'm not sure what this will look like as the flash simulation is practically unreadable.

[2020-06-23 16:36] brandonLi8 commented on #17
I spent some time looking into the flash source code.

Essentially, it works by storing a finite (but large) number of y-values in an array for every type of curve (integral, original, derivative).

The model then applies a series of algorithms for when the user manipulates the original curve or when the 'smooth' button is pressed. The derivative curve is updated using the definition of a slope fo

[2020-06-23 17:01] brandonLi8 opened #18 "Investigate solutions to rendering discontinuities"
From the design doc, the HTML5 version of calculus grapher will need to render discontinuities for non-differentiable points with open circles and a thicker connecting dashed line.

![image](https://user-images.githubusercontent.com/42391580/85431164-61b3e200-b53e-11ea-8b4c-c84a5414cdbf.png)

<br>

-----

<br>

@amanda-phet said in the design doc:

This could potentially be a problem. I'll keep th

[2020-06-23 17:50] amanda-phet commented on #18
No, we decided on a different approach because of the difficulty involved. But for Calculus Grapher I think it's a critical piece of the model!

[2020-06-23 21:04] brandonLi8 commented on #17
Keeping https://github.com/phetsims/calculus-grapher/issues/18 in mind (and the design in mind), our curve points will need to store whether or not it is a sharp point (a cusp) and whether or not it exists. Sharp points and points that don't exist aren't differentiable.

However, because the HTML5 version has a second derivative (which will be implemented as the derivative of the derivative curve)

[2020-06-23 23:52] brandonLi8 commented on #17
In the commit above, I added a CurvePoint model. Now its time to add the curve models. I've created a general plan:

## Curve hierarchy

RootCurve
    - Creates an array of points for every x value
    - Stores the 'type'
    - Convenience method to get closest point given a x value
    - Other Convenience methods
    - Reset

OriginalCurve
    - Implements all the algorithms for manipulation from

[2020-06-30 16:50] brandonLi8 opened #19 "Architectural Discussion"
@ariel-phet, @pixelzoom  and I discussed a plan for the architecture of calculus grapher on 6/30. This is a placeholder issue to document what was discussed.

1. Current plan for using CurvePoints that are close together, like the flash sim, seemed like an appropriate starting point.
2. Current hierarchy for curves looks good.
3. In terms of performance, it might not be a good idea for DerivativeC

[2020-07-02 16:22] brandonLi8 opened #20 "Use Emitter to signal changes in Curves"
As outlined in #19,

Doing this now.

[2020-07-02 16:43] brandonLi8 commented on #20
Done in the commit above. Closing.

[2020-07-02 16:43] #20 closed

[2020-07-06 04:20] brandonLi8 opened #21 "Implement CurveNode"
The models for curves have been started in #17. In this issue, I'm going to start the implementation of the curve views, with notes from #18 in mind.

[2020-07-07 18:38] brandonLi8 opened #22 "Implement smooth algorithm"
Implement the smooth algorithm in the smooth method of the `OriginalCurve`.

I'm going to start by trying to understand the flash implementation.

[2020-07-07 18:49] amanda-phet commented on #22
Just wanted to be sure you saw the design doc where Mike said "Smooth will replace every point with the average of its neighbors."

I'm sure there's more to it than that, but just wanted to make sure you knew at least that part!

[2020-07-07 18:50] brandonLi8 commented on #22
Thanks @amanda-phet. I did some research into general [smoothing](https://en.wikipedia.org/wiki/Smoothing) algorithms and compared it with the flash code segment for smoothing:

[code]

It looks like the flash sim is using the moving average algorithm described in https://en.wikipedia.org/wiki/Moving_average#Simple_moving_average. Doing this now.

[2020-07-08 18:36] brandonLi8 opened #23 "Implement freeform algorithm"
Implement the "Freeform" algorithm for OriginalCurves.

I'm going to start by trying to understand the flash implementation.
Relevant code block:
[code]

[2020-07-08 21:59] brandonLi8 commented on #22
I finished implementing the smoothing algorithm in the commits above.

I played around with the smoothing algorithm locally and it looks good to my eye:

<details><summary>video:</summary>

![*](https://user-images.githubusercontent.com/42391580/86974334-61693880-c133-11ea-86aa-5b62ff3c757f.gif)

</details>

I also added the ?smoothingWindowWidth (Default 1.2) query parameter to adjust the "window

[2020-07-08 21:59] #22 closed

[2020-07-09 01:44] amanda-phet opened #24 "Translation of integral and derivative notation"
I asked Isam for his opinion over slack, and he went above and beyond to also get responses from some colleagues. I also followed up with Isham, our translator (or perhaps just a contact) from KSU in Saudi Arabia. Here are the responses:

-----

[Oman]: Many, if not most, of Arabic-speaking countries use the Arabic version of these symbols (by the way, in the Arabic version the integral sign is a

[2020-07-09 15:04] KatieWoe opened #25 "CT assertion failed"
[code]

[2020-07-09 16:42] brandonLi8 commented on #25
Thanks @KatieWoe.

[2020-07-09 16:54] brandonLi8 commented on #24
My initial thinking is that we might need to "flip" (scaleX(-1)) certain parts of the string and not other parts (since symbols will be translated to rtl and we don't want to flip the flipped string).

I also don't think that mirroring the integral/derivative notation necessarily matches the Arabic math notation described in https://en.wikipedia.org/wiki/Modern_Arabic_mathematical_notation. Specif

[2020-07-09 17:16] brandonLi8 commented on #25
My guess is this happens when the user tilts the curve near the origin, which results in a vertical graph.

[2020-07-09 17:20] brandonLi8 commented on #25
Pushed a temporary fix in the commit above.

[2020-07-09 17:43] brandonLi8 commented on #8
@amanda-phet FYI this is also an issue in master.

@phet-steele seems correct that this is " due to the mouse jumping between points on the curve." It's especially noticeable when you move your pointer horizontally.

----

One solution I thought about could be to only consider where the user **first** pressed the curve for the x-position of where to tilt the graph. Then, when the user moves the po

[2020-07-09 17:51] brandonLi8 opened #26 "Solutions to avoid infinite tilting"
In #25, I said that I believe my assertions were failing since the user was tilting the curve near the origin, which resulted in vertical curves.

<details><summary>Here is a sample:</summary>

![*](https://user-images.githubusercontent.com/42391580/87070931-be69fa80-c1d6-11ea-9173-4f1c97fa4056.gif)
</details>

----

@amanda-phet how should we ensure that the user doesn't encounter this?

I have a

[2020-07-10 14:51] KatieWoe opened #27 "CT y must be a finite number: NaN"
[code]

[2020-07-10 18:10] brandonLi8 commented on #27
Related to #25.

[2020-07-10 18:52] brandonLi8 commented on #27
I pushed a temporary fix that removed the tilt functionality. I'll revisit once #26 is addressed.

[2020-07-10 20:40] brandonLi8 opened #28 "Non differentiable points for freeform"
From the design doc:

However, playing around in the flash sim and in master, I was able to produce cusps (nondifferentiable) points with the freeform mode:

![image](https://user-images.githubusercontent.com/42391580/87201017-ffd3d600-c2ba-11ea-9c30-5190c47f615d.png)

@amanda-phet should there also be open circles (for the derivative) for the "sharp" points when manipulating the curve in "freefor

[2020-07-13 18:14] amanda-phet commented on #26
I think option (1) sounds great. There is no reason to adjust the tilt really dramatically. The learning goal of that control is to see how the derivative and integrals change, and that is done while doing the tilt, so once you understand the principle you don't need to go very far. We might want more than 45, but absolutely don't need to go to 90.

[2020-07-13 18:17] amanda-phet commented on #28
Hm... I am OK with these sharp points if you feel like the model can handle putting open circles there in the derivative. If it's too complicated, we could force the curve to be smooth.

You can't make a vertical line with the freeform tool, right? I want that to be avoided at all costs. It seems like there is a slight slope in your screenshot.

[2020-07-13 18:21] brandonLi8 commented on #3
@amanda-phet is the desired functionality to 'tilt' the sine wave as well? (ie.
![image](https://user-images.githubusercontent.com/42391580/87339075-4ae02a00-c503-11ea-830c-555d0e9dbe17.png)

[2020-07-13 18:23] amanda-phet commented on #3
Yes.

When the function gets tilted, some will be out of view. Is that going to work ok? Since we have a boundary around the function, the right side will end up hiding a bit until it is tilted back.

[2020-07-13 18:24] brandonLi8 commented on #28
Thanks @amanda-phet.

That's correct. Vertical lines are impossible for both flash and html5 (since there is only one point per x value of the curve partition).

OK. I'll start with trying to compute cusps in the derivative (by considering the slope on the left AND the right). If it gets too complicated, I'll report back.

[2020-07-13 18:27] brandonLi8 commented on #3
Sounds good. Doing (attempting) this now.

[2020-07-13 19:47] brandonLi8 commented on #26
Done in the commits above. I also added the `?maxTilt` query parameter (defaults to 45) for adjustment down the road. Closing.

[2020-07-13 19:47] #26 closed

[2020-07-13 19:49] brandonLi8 commented on #27
#26 was addressed and ct is green. Closing.

[2020-07-13 19:49] #27 closed

[2020-07-13 19:49] brandonLi8 commented on #25
#26 was addressed and ct is green. Closing.

[2020-07-13 19:49] brandonLi8 commented on #23
Done in the commits above. Closing.

[2020-07-13 19:49] #23 closed

[2020-07-13 19:55] brandonLi8 commented on #6
The hmtl5 version of the sim shouldn't (and doesn't) have this problem (no issues of moving buttons in sun). Closing.

[2020-07-13 19:55] #6 closed

[2020-07-13 19:59] brandonLi8 commented on #11
From #26 we decided to disallow vertical curves (by enforcing a max tilting angle of 45). This scenario isn't possible anymore and can be closed. Closing.

[2020-07-13 19:59] #11 closed

[2020-07-13 20:02] brandonLi8 opened #29 "Implement sine manipulation"
All curve manipulation models have been implemented except for sine.

As of now, there are lots of changes to the behavior of sine for the html5 version. See #3, #4, #5, #8. Because of this, I don't think I will start with the flash implementation of the sine manipulation model.

[2020-07-14 21:40] brandonLi8 commented on #28
I went ahead and gave this a shot.

I attempted this by considering the slope of the secant lines from the left and the right. If they were approximately equal (differs by less than the `?derivativeThreshold` query parameter, which defaults to 0.65), the derivative exists and is the average of the slopes. Otherwise, the derivative doesn't exist.

Unfortunately, from my own testing, this solution d

[2020-07-14 21:43] brandonLi8 commented on #28
I am now convinced that this solution will not work.

I did some initial searching for solutions and found https://www.mathworks.com/matlabcentral/answers/57194-how-to-find-the-sharp-turn-in-a-2d-line-curve#answer_69185, which suggests to use curvature to detect cusps.

Trying this now.

[2020-07-15 18:09] brandonLi8 commented on #28
In the commit above, I tried detecting the curvature of 3 adjacent points. If the curvature was more than `?derivativeThreshold` (default now 12) then the point was considered a cusp. However, this yielded similar results to the screenshots above. I also added red dots on the original curve where the cusps were detected. No matter how I adjusted the query parameters there were some scenarios where

[2020-07-15 18:31] KatieWoe commented on #25
Seems to pop in and out of CT. Reopening.
[code]

[2020-07-15 19:48] brandonLi8 commented on #25
I ran the [snap-shot](https://bayes.colorado.edu/continuous-testing/ct-snapshots/1594840019960/calculus-grapher/calculus-grapher_en.html?continuousTest=%7B%22test%22%3A%5B%22calculus-grapher%22%2C%22fuzz%22%2C%22unbuilt%22%5D%2C%22snapshotName%22%3A%22snapshot-1594840019960%22%2C%22timestamp%22%3A1594841753176%7D&brand=phet&ea&fuzz&memoryLimit=1000) for 15 minutes and was unable to reproduce. This

[2020-07-15 19:49] brandonLi8 commented on #25
Pushed a temporary fix in the commit above.

[2020-07-20 14:47] KatieWoe opened #30 "CT y must be a finite number: NaN"
[code]

[2020-07-20 16:00] brandonLi8 commented on #30
Pushed a temporary fix.

[2020-07-23 20:16] brandonLi8 commented on #3
Discussed this at design meeting 7/23/20.

Consensus was to change the functionality of the 'sine' curve to only show 1 or 2 revolutions of sine. The sine curve would act similar to the parabola/triangle curves, where it would add a sine function based on the "width" and then taper off (introduce a sharp point).

We also discussed the tilting of the sine curve and the consensus was to first make t

[2020-11-19 19:56] pixelzoom opened #31 "griddle is missing from package.json"
griddle is an optional package that is used by this sim. It is not included in package.json, so its sha is not being captured in dependencies.json.

Also wondering if something should be added to the build process to notice this type of problem.

[2021-01-04 22:18] brandonLi8 commented on #31
Looks like it was added in 369ea1996363e6df4db9b6d7fcab7cc61b71faa2. Closing

[2021-01-04 22:18] #31 closed

[2021-01-04 22:21] brandonLi8 opened #32 "Remove empty images directory"
Similar to https://github.com/phetsims/collision-lab/issues/154, remove the "empty" image directory.

[2021-01-04 22:22] #32 closed

[2021-01-08 16:17] KatieWoe opened #33 "CT undefined not allowed for Node key mouseArea"
[code]

[2021-01-08 19:41] jonathanolson commented on #33
Was the intention of the removed code above to have no interaction with input? (pickable:false would be better). Or the default for "empty" mouse/touch areas is null.

[2021-01-08 20:51] brandonLi8 commented on #33
Thanks @jonathanolson. Unsure why but when I was running it earlier the grid in the background wasn't allowing drag inputs with the path in the foreground. But running it now is working. Closing.

[2021-01-08 20:51] #33 closed

[2021-01-19 16:32] KatieWoe commented on #30
This seems to have come back:
[code]

[2021-09-15 16:14] KatieWoe commented on #30
Should this still be deferred?

[2021-09-25 19:20] pixelzoom opened #34 "Evaluate this sim as a candiate for learning TypeScript."
For learning TypeScript, I expressed interest in working on a smaller sim. @kathy-phet asked me to take a look at this sim as a potential candidate. See also the [Calculus Grapher HTML5](https://docs.google.com/document/d/1yt4ykdjF8EYAv9GdxmM3Y-_9kYeudW7gKth-nEleygk/edit?skip_itp2_check=true) design document.

[2021-10-14 22:26] pixelzoom commented on #34
At 10/14/21 quarterly planning meeting, we decided that Geometric Optics should be converted to TypeScript.  So closing this issue.

[2021-10-14 22:26] #34 closed

[2021-12-14 17:20] markgammon opened #35 "Calculus Grapher - Publish 1.0"
Publish Calculus Grapher 3.0.

- [ ] https://github.com/phetsims/calculus-grapher/issues/1

[2022-03-18 15:28] KatieWoe commented on #30
[code]

[2022-03-29 19:29] arouinfar commented on #1
When updating sim checklists in https://github.com/phetsims/phet-info/issues/189, I skipped this one because it looks like it's quite out of date. Whenever work on this sim resumes, I recommend converting this over to the [latest template](https://github.com/phetsims/phet-info/blob/master/checklists/sim_checklist.md).

[2022-09-07 16:57] veillette commented on #1
The checklist was converted to the latest template and the milestones that were achieved have been incorporated into the checklist.(9/7/2022)

[2022-09-07 21:14] veillette opened #36 "Convert this simulation to TypeScript"
As a first step, this simulation should be converted to Typescript.

[2022-09-12 23:06] veillette opened #37 "Convert all 'Prorperty' to Property"
There are multiple Property with the misspelled  suffix "Prorperty'. This should be changed to Property or at least documented.

[2022-09-13 15:08] veillette commented on #30
Still occuring on CT
[code]

[2022-09-13 15:22] veillette commented on #30
All the CT failures invoke tiltToPosition, which is the likely point of failure. There are a lot of potential divisions by zero in tiltToPosition so I added a temporary assertion to it to see if that is not the point of failure.

[2022-09-13 15:40] veillette commented on #30
I'll monitor CT for a few cycles to see if this new assertion gets triggered.

[2022-09-13 18:51] veillette opened #38 "GridNode is deprecated"
We should use BAMBOO/GridLineSet  instead of GridNode

[2022-09-13 20:04] veillette opened #39 "Determine the type of Original"
In graph node, the constructor invokes original. The type is not clear from the context.

[2022-09-13 20:11] veillette commented on #38
GridLineSet is used instead of GridNode. In addition, the rectangle and lines that were used for graph background and axes have been replaced by chartRectangle and AxisLine from BAMBOO.

[2022-09-13 20:42] veillette commented on #38
This is working well. CLosing

[2022-09-13 21:07] #38 closed

[2022-09-13 21:08] veillette commented on #39
I figured it out. Original is a boolean.

[2022-09-13 22:41] KatieWoe commented on #25
Closing for https://github.com/phetsims/qa/issues/832. Feel free to reopen if this is in error.

[2022-09-13 22:41] #25 closed

[2022-09-14 13:56] veillette commented on #39
I added the appropriate jsDOC. closing

[2022-09-14 13:56] #39 closed

[2022-09-14 14:04] veillette opened #40 "Consider moving the methods in CalculusGrapherUtil class to the appropriate class."
CalculusGrapherUtil is a class of utility functions.  There are five of them.

- forEachAdjacentPair
- forEachAdjacentTrio
- isSorted
- isSortedBy
- multiplyRange

It is unusual to have utility functions in PhET.

At this point, only two of them are actually used in the simulation: `forEachAdjacentPair` and `forEachAdjacentTrio`.
One could consider adding these two methods to `Curve` instead.

[2022-09-14 20:25] veillette opened #41 "QueryParameter pointsPerCoordinate affects 'Hill'"
The private QueryParameter pointsPerCoordinate changes the number of points per coordinates, making for smoother curves as the number increases. I noticed that in the mode 'hill' the hill created depends on the pointsPerCoordinate (when it should not).
The hill created is much narrower when the number of points per coordinate increases.

This is something that should be addressed.

[2022-09-14 20:30] veillette commented on #41
[code]

We can see that POINTS_PER_COORDINATE is present in the algorithm above.

[2022-09-14 21:03] veillette opened #42 "Freeform does not behave in the same way as the flash version"
In freeform mode, sometimes the html5 simulation does not only modify one point but an entire range of x-values.

[2022-09-14 21:07] veillette opened #43 "Height of graphs should adapt according to the number of Graphs"
In flash the vertical height of the graph is 5 for three graphs on the screen, 8 for two graphs and 12 for one graph.

[2022-09-14 21:13] veillette opened #44 "Should griddle be removed and Bamboo added to package.json"
In #38, `GridNode` was removed from the simulation, in favor of Bamboo.
Should Griddle be then removed from the phetLib and bamboo added?

[2022-09-16 18:18] veillette opened #45 "Tandem as option"
Calculus Grapher follows an older convention for tandem, where tandem is passed as a separate argument to the constructor. The new pattern is to pass it as an option. The simulation should be upgraded to this new convention.

[2022-09-17 15:38] veillette opened #46 "Convert the sim to use the new enumeration pattern"
The 'modes' of manipulating OriginalCurves are written using the deprecated enumeration method.

[2022-09-17 15:40] veillette commented on #46
Quoted from the phet software design pattern for reference
--

ThET’s preferred implementation of this pattern is by declaring a class that extends [EnumerationValue.ts](https://github.com/phetsims/phet-core/blob/master/js/EnumerationValue.ts), and declaring
an [Enumeration.ts](https://github.com/phetsims/phet-core/blob/master/js/Enumeration.ts) member on it called enumeration. It was developed in

[2022-09-17 16:53] veillette commented on #46
This should be done as part of the conversion to typescript (#36)

[2022-09-17 17:01] veillette opened #47 "Refactor CurveManipulationModes"
As part of #46, we should refactor CurveManipulationModes -> CurveManipulationMode

[2022-09-17 19:12] veillette commented on #47
Done. Closing

[2022-09-17 19:12] #47 closed

[2022-09-17 19:13] veillette commented on #46
With the work on #38, the simulation has been converted to the new enumeration pattern. Closing.

[2022-09-17 19:13] #46 closed

[2022-09-17 22:19] veillette commented on #36
Most of the sim has been converted at this point. However, this came at significant cost.
There are ts-ignore throughout the sim
- 20 in OriginalCurve
-  5 in OriginalCurveNode
-  4 in DerivativeCurve
-  1 in IntegralCurve
-  1 in GraphNode
-  2 in IntroScreen

The ones in Original Curve, Derivative Curve and Integral Curve  are all related to the same issue.

[2022-09-20 00:55] veillette opened #48 "PhET-iO Instrumentation Process Checklist"
This issue will keep track of the effort to instrument this simulation.

[2022-09-20 19:22] pixelzoom opened #49 "Design questions (general & PhET-iO)"
@veillette and I had a meeting to review the [HTML5 design document](https://docs.google.com/document/d/1yt4ykdjF8EYAv9GdxmM3Y-_9kYeudW7gKth-nEleygk/edit?pli=1).  Here are some questions for our next design meeting. @veillette feel free to add anything that I missed, or anything else that occurs to you.

## General design questions

- [x] Milestones: please provide significant dates.

- [x] Showin

[2022-09-20 19:32] veillette commented on #44
During our 9/20 meeting ,@pixelzoom confirmed that griddle should be removed from package.json and the bamboo dependencies should be added.

[2022-09-20 20:05] veillette opened #50 "Remove Calculus Grapher from phet-io-state-unsupported"
We have added calculus-grapher to phet-io-state-unsupported.  We should remove it  in the long run as we wish to instrument this simulation (#48). This issue will ensure that we remove it from the list prior. to publication

[2022-09-20 20:28] veillette commented on #48
# PhET-iO Instrumentation Process Checklist

## Initial Steps

### Gathering requirements

- [ ]  Create a google doc for documenting requirements
- [ ]  Identify internal and any client iO requirements
- [ ]  Determine the developer that will be instrumenting the simulation. It is best for the simulation's responsible
  developer to perform the PhET-iO instrumentation. They have important insight

[2022-09-20 20:45] veillette commented on #44
Work is done. CLosing

[2022-09-20 20:45] #44 closed

[2022-09-20 20:46] veillette commented on #48
Checklist: was copied from
Copied from: https://github.com/phetsims/phet-io/blob/984dc704af4590d59d79b117f2db4a07294e5f37/doc/phet-io-instrumentation-process-checklist.md

[2022-09-21 00:33] veillette commented on #36
The conversion to typescript has been completed.

[2022-09-22 14:00] veillette opened #51 "Inject dependency of curveManipulationWidth into Model"
The actual curve shift due to the modes HILL, TRIANGLE, PEDESTAL, PARABOLA, and SINE should have a dependencies on curveManipulationWidth.
The work to be done is in OriginalCurve Class.

[2022-09-22 19:39] pixelzoom commented on #49
9/22/2022 design meeting

Yes.

[2022-09-22 20:05] pixelzoom commented on #18
9/22/2022 design meeting:

This feature is needed. @veillette will investigate how to address.

[2022-09-22 20:24] pixelzoom opened #52 "PhET-iO design"
Identify non-standard PhET-iO requirements.

For example:

* Do derived curves need to be in the data stream? If so, what information?

* Any query parameters?

* Ways to set initial state? Is it done via the sim exclusively, or does there need to be another way to set an initial f(x)?

[2022-09-22 20:31] pixelzoom commented on #52
@amanda-phet please include @matthew-blackman and @catherinecarter, to make sure their needs are considered.

[2022-09-22 20:33] pixelzoom commented on #49
We will continue discussing the remaining items at our next meeting, the week of Oct 3.

[2022-09-22 20:33] veillette commented on #49
yes, it is an important goal to have a step function

[2022-09-23 16:23] veillette opened #53 "Address the @ts-ignore"
There are many // @ts-ignore scattered throughout the code. Many of them are related to y values being a number or null.  Theses should be addressed.

[2022-09-23 18:34] veillette commented on #53
At this point there is only one ts-ignore left in the simulation.

[2022-09-23 18:34] veillette commented on #53
At this point there is only one ts-ignore left in the simulation.

[2022-09-23 20:11] veillette commented on #51
The modes HILL, TRIANGLE, PEDESTAL, PARABOLA, and SINE all depends on the with property.

[2022-09-24 01:17] veillette commented on #29
Although there are some issues with the flash implementation, we can use it as a starting point.

[2022-09-26 15:11] veillette opened #54 "Leverage or consider using LinePlot from Bamboo"
CurveNode from CG create custom plots. We could consider using LinePlot from Bamboo.

Since LinePlot uses ChartTransform as an argument, it would make it very easy to scale our graph.
On the other hand, CG is using its own custom data field whereas LinePlot expects an array of Vector2 points.

[2022-09-26 17:02] veillette commented on #45
Work is done here. Closing

[2022-09-26 17:02] #45 closed

[2022-09-26 17:20] veillette opened #55 "Design for clipped Graph."
Although there is no explicit mention of clipped graph in the design document, I see that the df/dx graph in the design document is clipped.

![image](https://user-images.githubusercontent.com/7633344/192338238-cb9b398c-d320-436c-aea1-5cad17637440.png)

There is no clipping in the flash simulation.

Clipping the graphs brings a handful of design questions that we should addressed.

Should we indic

[2022-09-26 18:08] veillette commented on #41
This was adressed in https://github.com/phetsims/calculus-grapher/commit/f97d68293af7f60254337431d4f216abfffed9fa.
Closing.

[2022-09-26 18:08] #41 closed

[2022-09-26 18:10] veillette commented on #30
There has been several changes to the sim in the past two weeks.
CT has not been triggered by this assertion in the past week, so I'll go ahead and close this issue.

[2022-09-26 18:10] #30 closed

[2022-09-26 19:52] veillette commented on #42
The reference to this.last is the the last point dragged while in FreeForm mode, whereas it should be the last point dragged (irrespective of the drag mode).

[2022-09-27 00:42] veillette commented on #42
I confirmed my intuition.
By setting the start event of the drag listener with
[code]
solves the problem. However, there is more likely a cleaner to solve this issue.

[2022-09-27 13:33] veillette opened #56 "Delete flash directory prior to publication"
The source code of the flash simulation was imported into github such that it would be easy to refer to it. It should be deleted prior to publication.

[2022-09-28 12:43] veillette opened #57 "Add reset all button"
The reset all button needs to reach many properties and attribute in a simulation. It would be preferable to get this done sooner than later.

[2022-09-28 15:07] veillette commented on #53
The ts-ignore was addressed. None of them are left in the simulation.

[2022-09-28 15:07] #53 closed

[2022-09-28 20:47] veillette commented on #57
Work is done here. all the existing properties have been attached to the reset listener.

[2022-09-28 20:47] #57 closed

[2022-09-28 20:51] veillette opened #58 "Free form and First and second derivatives"
![Calculus Grapher screenshot](https://user-images.githubusercontent.com/7633344/192885882-b4b06892-04d1-4976-bec8-5833580289e7.png)

The screenshot above shows from top to bottom f(x), f'(x) and f''(x). The curve was drawn using the freeform mode.

Although the first derivative is acceptable, the second derivative is very jerky.

We will need to think about how to make the freeform f(x) smoother.

[2022-09-29 16:48] veillette commented on #54
CurveNode creates a Path of CurvePoints and well as an array of Circles  representing Cusps. I suggest to replace the Path by LinePlot and The array of circle by a ScatterPlot.

We will need to process the Curve to generate  a data set that is appropriate to the LinePlot ad ScatterPlot.

There will be no need for the ModelViewTransform and its property once we make the conversion since LinePlot an

[2022-09-29 17:20] veillette commented on #54
I committed some preliminary work. Using Bamboo simplify our approach, but there seems to be some performance tradeoff.

Some of the performance tradeoff may be related to the way that the various DataSet are updated where new Vector allocations are created for each update.

In addition, and most importantly, I wasn't able to attach a listener directly to LinePath. Instead, as a placeholder I atta

[2022-09-29 17:47] veillette opened #59 "DragListener should be added onto linePlot."
As part of the work on #54, I remove the instance path on curveNode. I added an instance of linePlot (which extends Path). However, I am not able to add a drag listener to LinePlot.

As a workaround, I added an instance of scatterplot (that create a scatterplot that mimics the lineplot). The OriginalGraphNode has a drag listener that listen to the scatterplot.  Somehow that approach "works".

I ad

[2022-09-30 14:15] veillette opened #60 "Create a container for all graphs"
The container should have the responsibility the laying out in a vertical fashion graphs, which include,
- determining the vertical y range of the graphs,
- determine the number of graphs to display depending on the visibility of the graphs
- the vertical order of the graph

Each graph may include a zoom in/out buttons. Regardless of the presence of the zoom in and out, the graphs themselves shoul

[2022-10-03 12:56] veillette commented on #40
The two methods remaining are part of the curve class methods. Since the two methods were taking the points as an argument, the signature of the method was change to make it more applicable to our use cases.

[2022-10-03 12:56] veillette commented on #40
Closing.

[2022-10-03 12:56] #40 closed

[2022-10-03 12:57] veillette commented on #36
Closing

[2022-10-03 12:57] #36 closed

[2022-10-03 17:35] veillette opened #61 "Find a more orthgonal way to set the size of the graphs"
The vertical height of the graph is based of the number of graphs visible  as well as the y Range in the model (which depends on the zoom level).

However,  in the view, the height of a graph should remains the same regardless of the zoom level.
This suggest that the vertical height of the graphs should be set by some constant . The yRange should be determined based on that constant and the zoom l

[2022-10-03 19:23] pixelzoom opened #62 "Identify possible "value added" features for the design"
10/3/2022 design meeting

@catherinecarter will review the current design, with an eye towards "value added" features that would be nice to have.  She'll discuss with @veillette. (Feel free to loop in @pixelzoom too, if you think it would be helpful.)

Ideally meet up in the next 7-10 days, brainstorm, and bring back ideas to the larger group.

Cut-off for completing design is 10/28/2022.

[2022-10-03 19:24] pixelzoom commented on #49
To be discussed by @veillette and @catherinecarter in https://github.com/phetsims/calculus-grapher/issues/62.

[2022-10-03 19:37] pixelzoom commented on #49
We should be able to hide f(x) via PhET-iO, but not via the sim's UI.

[2022-10-03 20:23] pixelzoom opened #63 "Revisit how the sim is organized into screens"
From 10/3/2022 design meeting...

The sim currently has 3 screens: Intro, Integral Lab, Derivative Lab.

The Intro and Integral Lab screens are the same, but the latter has more operations. This isn't obvious from the screen titles. Multiple people have asked about this, and we seem to have to keep reminding ourselves about this aspect. So that might be a cue that there's a problem here.

@catheri

[2022-10-04 13:07] veillette commented on #59
I confirmed that adding a touchArea/mouseArea to LinePlot addresses this issue.

[2022-10-04 14:20] veillette commented on #59
I was wondering how the simulation was able to get around this issue previous to our Bamboo work.

As part of that work I had blown away some work in OriginalCurveNode.
I initially thought that the setting of touch/mouseArea was an "enhancement", however I am not thinking that the same issue existed with the previous implementation of OriginalCurveNode.
[code]

[2022-10-04 16:56] veillette commented on #59
In the commits above, I added a method to calculate the mouse/touch area from a shape based on curve.points  (similar to the previous approach)

[2022-10-05 01:45] pixelzoom opened #64 "Is infinite Undo really necessary?"
The design document specifies "unlimited" undo.  Anything "unlimited" is a red flag in programming.

Each undo requires saving the state in memory, before the user performs an operation. That state is currently 700 or more points for each undo. We could conceivable invent a more compact way to save state, but that's not the point. We have finite memory. So supporting unlimited undo is technically

[2022-10-05 01:56] pixelzoom opened #65 "Should Undo history be included in PhET-iO state?"
This sim has an Undo feature.  It saves the state before each user operation on f(x), and allows the user to Undo previous operations.  (In https://github.com/phetsims/calculus-grapher/issues/64, we're discussing whether Undo is unlimited, or some large number of operations.)

Should Undo history be stateful?

For initial state, restoring Undo history seems undesirable. The instructional designer

[2022-10-05 14:58] veillette opened #66 "Add dragBounds to Graph"
As decided in the 3/10 design meeting, the user should not be able to push the original curve out of the graph bounds. To achieve this, we can add dragBounds to the  DragListener

[2022-10-05 19:31] veillette commented on #61
I am satisfied with the result. The naming convention was also changed to reflect the fact that the size of the graph is now given in view coordinates.

[2022-10-05 20:47] veillette commented on #66
The simulation works nicely.DragBoundsProperty were added to the dragListener. In OriginalGraphNode, there is a callback on graphHeightProperty that updates the height of the dragBounds when the graphHeight changes.

It all works well, but the typescript engine complains that there is no dragBoundsProperty on the base class CurveNode.
OriginalCurveNode extends CurveNode and the dragBoundsProperty

[2022-10-05 21:57] veillette commented on #43
our work is done here. Closing

[2022-10-05 21:58] veillette opened #67 "OriginalGraphNode and Zoom"
According to the design document, the original Graph should not have a zoom button attached to it.

[2022-10-06 16:56] pixelzoom opened #68 "Color profile"
Not too long ago, PhET decided that all new sims should have a "color profile".  A color profile is a collection of ProfileColorProperty instances.  For example, see GOColors.ts.  The reason for this is three-fold:

(1) Color profile is how PhET implements 'projector mode'.
(2) Even if your sim doesn't currently require 'projector mode', it puts the sim in a good position to support other color pr

[2022-10-06 17:10] KatieWoe opened #69 "CT x position cannot be zero"
[code]

[2022-10-06 17:33] pixelzoom opened #70 "Rendering math symbols"
In general for PhET math sims:
* symbols that could serve as operands in an equation (x, y,...) should be translatable
* symbols for operators (=,+,...) are not translatable

In this sim, it looks like your translatable symbols are "f", "x", and "d".  They should be added to  calculus-grapher-strings_en.json.

In Fourier, we had a large number of symbols, and an entire issue was devoted to specify

[2022-10-06 18:26] veillette commented on #68
Thanks for all the info, that made the conversion process easier.

[2022-10-06 18:26] veillette commented on #68
The color profile was added. Assigning to @pixelzoom for review.

[2022-10-06 18:28] veillette commented on #69
I recently added dragBound to the drag listener. I suspect it may be related to it.

[2022-10-06 18:41] veillette commented on #70
Also related to #24, where the possibility of reversing (LTR -> RTL) the math notation was broached.

[2022-10-06 18:43] pixelzoom commented on #68
Looks great.  I see CalculusGrapherColors.ORIGINAL_CHART_BACKGROUND is unused.  Should it be delete or relocated?  Then feel free to close.

[2022-10-06 22:20] veillette opened #71 "Should we create a rich enumeration for the type of curves?"
There are four type of curves in this simulation.
 - derivative
 - second derivative
 - original function
 - integral

Each curve have their own label, own model, prefixes for tandem. Some of the curve have different colors based on the type of graph.
We need to iterate over the type graphs to create the GraphNode and end up with onerous code like  the following lines.

[code]

There are two more

[2022-10-06 22:36] veillette commented on #68
Oops, I forgot to delete the unused variables. Done in the commit above. Closing

[2022-10-06 22:36] #68 closed

[2022-10-06 23:01] pixelzoom commented on #71
I don't think you need an enumeration in this case.

Add `tandemName` and any other properties (title, icon, etc.) that you need to Curve. Then something like:

[code]

Would that meet the needs that you have in mind?

[2022-10-06 23:05] pixelzoom commented on #71
The above of course will not work if you need specific GraphNode subclasses for specific models. For example, if `originalCurve` required `OriginalGraphNode extends GraphNode`.   If that's the case, I don't have a problem with the creating the Nodes for the curves as you've shown in https://github.com/phetsims/calculus-grapher/issues/71#issue-1400362461.

[2022-10-07 10:43] veillette commented on #56
All the relevant information from the flash code source has been reviewed, and the appropriate bits that were useful were incorporated into the sim.
For the record, the on file that was relevant was  flash/src/Model.as.

The directory and all the files have been deleted.

[2022-10-07 10:43] #56 closed

[2022-10-07 11:20] veillette commented on #70
I gave it my college try, but there are a lot of pitfalls.

It is not clear what are the translatable units in this case. The minimum set is  f  and x.
However,  however I also included d, even though it is an operator.

For each three string properties, a derived mathSymbolFont string property was generated.

These strings  properties were then assembled to generate the appropriate expressions:

[2022-10-07 14:59] pixelzoom commented on #70
Yes indeed, you're running into the same problems that I've encountered in every math-related sim. PhET does not have a good solution for rendering math equations and expressions.  It usually comes down to manual layout, lots of magic-number offsets, and lots of tweaking until the designers approve the look.

For the integral, you'll will indeed need to manually add the range and handl the layout.

[2022-10-07 15:01] pixelzoom commented on #70
Yes indeed, you're running into the same problems that I've encountered in every math-related PhET sim. PhET does not have a good solution for rendering math equations and expressions, and it's a long-standing problem. The way that we workaround this deficiency is to do the best we can with the tools available (which I've described above). This usually comes down to using manual layout, lots of ma

[2022-10-07 15:13] pixelzoom commented on #24
@amanda-phet @kathy-phet We're running into problem with this right now in https://github.com/phetsims/calculus-grapher/issues/70#issuecomment-1271712729, so need a relatively high-priority reply.

PhET does not currently have the tools to address this issue, and it's not something that we've addressed in any PhET math sim.  We don't even have a way for a sim to know that it's local is LTR vs RTL.

[2022-10-07 15:23] pixelzoom commented on #70
A couple more note on the integral...

See fourier-making-waves SumSymbolNode.js for the summation symbol that I mentioned above.  It also supports an integral symbol, shown in Fourier _Wave Packet_ screen when the numer of wave components is infinite.  To see this in Fourier:

1. Go to Wave Packet screen
2. Set "Component Spacing" slider to '0'
3. The "Sum" graph will have an equation like this a

[2022-10-07 18:17] pixelzoom commented on #70
@veillette said:

Right you are.  There are exceptions to the "In general" guidelines that I mentioned in https://github.com/phetsims/calculus-grapher/issues/70#issue-1400062430.

In the case of "dx", it looks like both symbols are typically rendered in italic font.  See a Google Image search for "df/dx".  So I think that's the way to do.

[2022-10-07 18:36] pixelzoom commented on #52
Reminder that the deadline for this issue was 10/7/2022, which is today. Do we need to revisit that? Or was there a meeting this week that's not reflected in the comments here?

[2022-10-07 21:25] catherinecarter commented on #52
Oh, shoot. I'm new to Github. Martin and I met today, so I will get in there and reflect our meeting. Thanks for the reminder!
________________________________
From: Chris Malley ***@***.***>
Sent: Friday, October 7, 2022 12:37 PM
To: phetsims/calculus-grapher ***@***.***>
Cc: Catherine Carter ***@***.***>; Mention ***@***.***>
Subject: Re: [phetsims/calculus-grapher] PhET-iO design (Issue #52)

R

[2022-10-07 21:33] kathy-phet commented on #52
@pixelzoom - We did meet this week (10/5) and had some good discussions working on articulating pedagogical moves that could be facilitated by designs. Our design discussions are being captured here:
https://docs.google.com/document/d/1M7th-Lanv9tS7O7SPOcpR2cn10nu0IbciQqex25Go_Q/edit#heading=h.nuk4ozqbti54

Cathy and Martin also met to discuss general design.

I would say we do need one more PhET-

[2022-10-07 21:34] catherinecarter commented on #62
@veillette and I met with @matthew-blackman to discuss value added features. We added some notes in the [Calculus Grapher design document](https://docs.google.com/document/d/1yt4ykdjF8EYAv9GdxmM3Y-_9kYeudW7gKth-nEleygk/edit#heading=h.wua4hb1dax3q) with things MV will investigate how long each added value feature might take, with the goal of not pushing the timeline back. Also included is a "wishli

[2022-10-07 21:47] pixelzoom commented on #52
👍🏻

[2022-10-08 04:56] kathy-phet commented on #24
@pixelzoom - I agree with your recommendations above.

The math notation epic would require explicit funding, and I would say less priority than the epic to deal with internationalization of number in general.

[2022-10-08 05:01] kathy-phet commented on #70
I commented. I think addressing RTL and LTR switch is beyond the scope of what we can do here.

[2022-10-08 15:25] kathy-phet commented on #65
I also feel undo should not be captured in state.

[2022-10-11 15:09] amanda-phet commented on #24
I'm curious why we can't support LTR ordering for math font? How is it different from PhET font, which can be LTR?

I'm fine with your recommendation, I am just curious why "df" couldn't be a string that is handled like other strings that can be mirrored.

[2022-10-12 18:51] amanda-phet commented on #65
I agree with what others have said here (so I think the answer is 'no'). I would not want someone to save the state of the sim in studio, then open the sim and be able to undo whatever the instructional designer did to create the curve on the screen.

[2022-10-12 18:53] amanda-phet commented on #55
In the HTML5 version of this sim, we want graphs "clipped" and staying within the bounds of their grid area.

Regarding the bounds changing, that is still being figured out, so I think we can address that concern once we have finalized the size and number of graphs per screen.

[2022-10-12 18:57] amanda-phet commented on #64
We used to have this capped at 50. It looks like there was a discussion in June 2020:

I somewhat recall this conversation, and thinking it's unlikely someone *needs* to be able to undo that much, but it seemed easy enough to allow it and we couldn't think of any harm in doing so. It sounds like now that the curve is a discrete number of points, there is harm. So I think realistically, even 50 und

[2022-10-13 00:51] veillette commented on #69
Sam correctly identified the issue. CT has been quiet since. Closing

[2022-10-13 00:51] #69 closed

[2022-10-13 15:03] veillette commented on #70
I did not  not tackle the RTL /LTR switch.

In fact, I used a similar approach as SumSymbolNode for laying out the integral. It is a lot of small tweaks to lay out all the nodes properly.  I have also laid out the upper and lower bounds of the integral to the right of the integral symbol.

Assigning to @amanda-phet for review.

![image](https://user-images.githubusercontent.com/7633344/195632329-8

[2022-10-13 16:24] veillette commented on #67
THe visibility of the zoom button group was turned off for the original graph. This means that the visibility can be turn on through PhET-IO if wanted.

[2022-10-13 16:26] veillette commented on #67
The issue can be closed.

[2022-10-13 16:26] #67 closed

[2022-10-13 19:49] veillette opened #72 "CalculusGrapherCheckboxGroup"
There are two groups of checkboxes in this simulation. Having one class called CalculusGrapherCheckboxGroup is misleading/confusing.

[2022-10-14 14:07] #43 closed

[2022-10-16 12:57] pixelzoom commented on #24
@amanda-phet asked:

Fonts are not LTR/RTL.  Strings are LTR/RTL, and their directionality is handled automatically.

PhET currently does not have a solution that allows us to describe math notation exclusively as a string.  We have to assemble the notation using a collection of Nodes, some scenery layout, and some manual layout.  And there's typically a significant amount of manual layout require

[2022-10-16 13:20] pixelzoom commented on #64
I agree that 20 is likely sufficient.  And I doubt that 50 would cause a memory problem.   @veillette let's make sure that there is a constant in CalculusGrapherConstants for configuring this.  And I don't think it needs to be changeable via query parameter or PhET-iO.

[2022-10-16 13:21] pixelzoom commented on #65
I agree with all of the above.  So unless we determine otherwise, Undo history will be omitted from the PhET-iO state.

@veillette let's leave this issue open, and make sure we document this decision at an appropriate location in the code, with a link to this issue.

[2022-10-17 12:05] pixelzoom commented on #72
The group to the left of the graphs could be called CurvesCheckboxGroup, since it controls which curves are shown.

Some ideas for what to call the group to the right of the graphs: ToolsCheckboxGroup, AnnotationsCheckboxGroup, DecoractionsCheckboxGroup, ...  something that indicates that these are extra things that are added to the graphs.

[2022-10-17 13:39] veillette commented on #24
We have enough information about how to proceed with Calculus-Grapher.
We will make specific symbols translatable, but not the ordering of math notation.

Closing this issue.

[2022-10-17 13:39] #24 closed

[2022-10-17 14:16] veillette commented on #13
This problem does not arise in the html5 simulation. Closing

[2022-10-17 14:16] #13 closed

[2022-10-17 14:22] veillette commented on #7
In #55, we discussed clipping the graphs.  We have implemented clipping in master. There are a few user interactions about how to deal with curve in clipped graph but it resolves the layering issue so we can close it

[2022-10-17 14:22] #7 closed

[2022-10-17 14:23] veillette commented on #4
This is being tracked in #55.

[2022-10-17 14:23] #4 closed

[2022-10-17 14:30] veillette commented on #8
As of 10/17/2022, this issue is not addressed in master, we have have a similar buggy behavior.

[2022-10-17 18:34] veillette opened #73 "add query parameter that displays a numerical label set to X and Y axes"
In the process of rendering discontinuities  (see #18), it is useful to display numerical values in order to easily debug the curve points that should be identified as discontinuous. .

From Bamboo, we can add TickLabelSet and TickMarkSet to both axes.  We can add both sets to the Graphs and hide the numerical labels behind a query parameter and set it to private.

[2022-10-17 20:07] veillette commented on #73
Numerical tick labels can be displayed by setting the query parameter numericalLabels to true.

[2022-10-18 15:45] pixelzoom commented on #62
@veillette caught me up on proposed "value added" features, and I reviewed the 10/13 meeting note in the design doc.  A few thoughts...

Consider alternatives to text labels, unless text is important to show in equations or activities.  Using color (or something else) to differentiate the points may be preferrable.

Changing the notation (Lebniz vs Newton?) seems appropriate as a sim-specific Pref

[2022-10-18 15:53] veillette commented on #72
Our work is done here. Closing.

[2022-10-18 15:53] #72 closed

[2022-10-18 20:57] veillette commented on #60
Work is done here. Closing

[2022-10-18 20:57] #60 closed

[2022-10-19 15:10] veillette commented on #73
Work done here. Closing

[2022-10-19 16:04] veillette commented on #58
I committed my work where I added a quadratic interpolation based on the antepenultimatePosition, the penultimatePosition and the closestPosition. Using a quadratic interpolation ensures that the second derivative is non zero and well defined. This was a lot of work but it is still short of acceptable.

In hindsight, it is clear of the shortcoming of this approach. Because the curve is made of a s

[2022-10-19 16:32] #73 closed

[2022-10-19 16:54] veillette opened #74 "Pointer areas for interactive curves"
In #59 and #54, we have created a CurveNode that relies on the Bamboo library. Since the originalCurve is usercontrolled, we have added a dragListener to it but we then realized that it wouldn't respond without creating custom pointerAreas.

To summarize, a dragListener is added OriginalCurveNode, which extends CurveNode. CurveNode creates many scenery node, the most important being the continuous

[2022-10-19 16:55] veillette commented on #54
The work is tracked in #74.

[2022-10-19 16:55] #54 closed

[2022-10-19 16:56] veillette commented on #59
This issue is tracked in #74. Closing

[2022-10-19 16:57] veillette commented on #74
Assigning to @jonathanolson for help on this issue.

[2022-10-19 18:36] veillette commented on #42
A better way to address this was found by using listener.modelDelta from the dragListener.

[code]

It is working well closing.

[2022-10-19 18:36] #42 closed

[2022-10-19 18:51] veillette commented on #58
Brain storming here, but we could do a linear interpolation from P1 to P2 and Linear Interpolation from P2 to P3. where P1 is the modelPosition of the drag, P2 is the previous one and P3 is the second to last one.

Then we could apply a smoothing algorithm  similar to the smoothing algorithm we used, but the smoothing
would be weighted with
W(X) = (P1.x-X)(P3.x-X)/(P1.x-P2.x)*(P3.x-P2.x)
the weigh

[2022-10-19 18:53] veillette commented on #58
The previous comment probably only make sense to me but it helped solidify my idea.

[2022-10-19 19:01] veillette opened #75 "Add private query parameter to set the edgeSlopeFactor to PEDESTAL curveManipulationMode"
The pedestal mode creates a smooth and continuous trapezoidal-shaped curve with rounded corners.
The rounded corners are set by a constant called edgeSlopeFactor.

Following the PhET Brand Design meeting, on 10/19, it would be useful to easily set different values to the rounded corner.
We will add a private query parameter, such that the designers can choose an optimal value.

[2022-10-19 19:26] veillette commented on #75
For reference, here is the algorithm to set the pedestal

[code]

[2022-10-19 19:33] veillette commented on #71
The  https://github.com/phetsims/calculus-grapher/issues/71#issuecomment-1270814321 shows that we could do a lot without creating a rich enumeration.  In any case, the fact that OriginalGraphNode extends GraphNode makes it moot either way.

Closing

[2022-10-19 19:33] #71 closed

[2022-10-19 19:35] veillette commented on #75
The query parameter for the pedestal mode was added.
Assigning to @amanda-phet and @kathy-phet to make you aware of the existence of this query parameter.

[2022-10-19 19:46] veillette commented on #63
Amanda cemented how the sim is organized in the 10/19 meeting. The info is in the design document.

[2022-10-19 19:47] veillette commented on #63
We can safely closed this issue and refer to the design document.

[2022-10-19 19:50] veillette commented on #55
In light of the previous change in the design document, where the height of the graphs is now static, this is no longer a design problem, rendering this issue.

The details to clip the curves have already been implemented.
Closing.

[2022-10-19 19:50] #55 closed

[2022-10-19 19:50] #59 closed

[2022-10-19 19:52] veillette commented on #17
This hierarchy works well for us. Closing.

[2022-10-19 19:52] #17 closed

[2022-10-19 19:54] veillette commented on #21
CurveNode has been implemented for a while. It is now leveraging the Bamboo library.
Let's close this issue and create new one if we have issue with the implementation of CurveNode.

[2022-10-19 19:54] #21 closed

[2022-10-19 20:00] veillette commented on #58
I removed the design-meeting label. I have a good understanding of the issue, which would not be helped by bringing it to the design team.

[2022-10-19 20:41] veillette commented on #66
As a work around, an instance of dragBoundsProperty was created on the base class, so that it can be accessed in the sub class.
In this way, we can remove the ts-ignore.

[2022-10-19 20:45] veillette commented on #66
The typecheck is happy, closing

[2022-10-19 20:45] #66 closed

[2022-10-20 00:54] pixelzoom commented on #75
One of the things that @amanda-phet @kathy-phet should consider is whether this should be a public query parameter (`public: true` in schema).  It's currently private, for internal use only.   My recommendation is to keep query parameters private unless they are requested, or unless they are related to a specifically-designed feature that you intended to be public.

[2022-10-20 12:48] pixelzoom commented on #75
👍🏻 Great, sounds like you've already discuss public vs private.

[2022-10-20 14:15] amanda-phet commented on #63
I think it wouldn't hurt to paste the decision here. We decided on four screens:

Derivative (simple function types, maybe a tangent line tool)
![image](https://user-images.githubusercontent.com/7852916/196973227-0161b1fa-febf-4b38-ab3e-83fb6a1ce761.png)

Integral (simple function types, maybe an area under the curve tool)
![image](https://user-images.githubusercontent.com/7852916/196973280-f74564

[2022-10-20 14:31] veillette opened #76 "Add eyeToggleButton and expandCollapseButton to each graph"
New Design requirements following the 10/19 meeting:

- Add eyeball toggle button on each graph to show/hide the curve,
- Add expandCollapseButton to control visibility of the graph 

![image](https://user-images.githubusercontent.com/7633344/196976640-e74d7c15-6f0d-4efd-8743-d9648a96a3ff.png)

[2022-10-20 14:43] veillette commented on #76
The expandCollapse controls the visibility of the graph (and eyetoggleButton, and zoomButtons), yet live within the GraphNode class. The term Graph is currently overloaded with meanings. We need to develop a better terminology to distinguish the graph proper, from all the additional buttons attached to the graphs.

[2022-10-20 20:37] veillette commented on #63
In the previous commit, I created the four screens with the appropriate names.

The derivative and integral screens are functionally up to date with the design doc.

The Advanced  screen still need pushButton whereas the the lab screens needs a toggle switch.
In the meantime, I have left the old checkbox as a placeholder.

[2022-10-21 17:14] veillette commented on #63
I noticed that the Lab has a placeholder over the ABswitch.
@amanda-phet , should the ABswitch be replaced by rectangular radio buttons as on the Advanced screen?

[2022-10-21 18:04] amanda-phet commented on #63
I'm not sure what UI component makes sense on that screen. I suppose it controls whether integral or second derivative is shown, so we might want a similar control to what is on the Advanced screen. But I think some design details are still being worked out, especially on that Advanced screen.

[2022-10-24 19:18] pixelzoom commented on #49
No longer relevant, since the screens have been redesigned in #63.

[2022-10-24 19:19] pixelzoom commented on #52
From https://github.com/phetsims/calculus-grapher/issues/49#issue-1379886755:

[2022-10-24 19:19] pixelzoom commented on #49
Moved to https://github.com/phetsims/calculus-grapher/issues/52.

[2022-10-24 19:20] pixelzoom opened #77 "How should curve manipulators behave as a curve is built up?"
From https://github.com/phetsims/calculus-grapher/issues/49:

@veillette FYI.

[2022-10-24 19:21] pixelzoom commented on #49
Moved to https://github.com/phetsims/calculus-grapher/issues/77.

[2022-10-24 19:29] pixelzoom commented on #49
All design questions have been addressed or moved to their own issues.  So I'm going to close this issue.

[2022-10-24 19:29] #49 closed

[2022-10-25 13:46] veillette opened #78 "Design of Undo button"
Th design specifies that the undo button should have a back arrow.

![image](https://user-images.githubusercontent.com/7633344/197789072-840988f8-a070-438c-b393-5175923669bc.png)

I did a cursory search for the icon but I didn't find something similar in other sims. ( I found a straight to the left arrow for Undo buttons but nothing like this icon).
Maybe I'm missing it, but @amanda-phet, let me k

[2022-10-25 14:41] pixelzoom commented on #78
I'll give my usual spiel about icons.  It would be nice to use the fontawesome icon for undo (https://fontawesome.com/v4/icon/undo) instead of inventing and implementing something new/different.

[2022-10-25 15:13] veillette opened #79 "ExpandCollapse buttons for graphs"
I cant recall if we came to a conclusion about the expandCollapse buttons.

The graphs take quite a bit of real estate such that the sim looks broken when two graphs are collapsed.
![Calculus Grapher screenshot (2)](https://user-images.githubusercontent.com/7633344/197810408-e628e374-5281-4d3a-b3d4-3844828bbc4d.png)

@amanda-phet
Given that the we have an eye toggle for the curves, we perhaps can

[2022-10-25 15:39] pixelzoom commented on #79
I like the idea of removing the expand/collapse buttons, and would start there, see how it feels. But if we do keep them, there should be a label to the right of each button when collapsed, to indicate the name of the graph that will be shown when "+" is pressed.

[2022-10-25 15:50] amanda-phet commented on #79
We decided to try removing them, since as you say, we have the toggle button for the curves. And @pixelzoom is right that if we do use the expandCollapeButtons there would be a title when collapsed.

[2022-10-25 17:54] amanda-phet commented on #78
The Expression Exchange game uses this icon.
![image](https://user-images.githubusercontent.com/7852916/197846302-88d428a8-8588-4711-b828-1edfd0019cde.png)

In general I always look to font awesome for universal icons too, but in this case I think we might not want to use that icon in particular. We already have three variants of an arrow in a circular shape (reset all, mini-reset, and refresh) I

[2022-10-25 18:15] amanda-phet commented on #78
Build a Molecule uses a similar, but custom, button:
![image](https://user-images.githubusercontent.com/7852916/197850500-640bb377-11b0-44b1-966a-23aa0f649f65.png)

[2022-10-25 22:54] veillette commented on #79
The expandCollapse button was removed in the previous commit.

[2022-10-25 22:58] veillette commented on #76
In #79, we decided to remove the expandCollapse after all. As a result, it removes the terminology ambiguity about graphVisibilityProperty. Our work is doe here. Closing.

[2022-10-25 22:58] #76 closed

[2022-10-25 23:00] veillette opened #80 "Layout problems with multiple graphChoices"
This affects the advanced and lab screens.

[2022-10-25 23:02] veillette opened #81 "Graph rectangular buttons are wired incorrectly."
The functionality of the derivative and integral rectangular push buttons is reversed, on the lab and derivative screens.

[2022-10-25 23:35] veillette commented on #78
For my own reference, the first example is the  UndoButton in Game in Expression-Exchange.  The shape is made through Kite.

The second example is the Refill Button from common.view in build a molecule.
It makes use of a font awesome icon (Reply Solid Shape)
https://fontawesome.com/v5/icons/reply?s=solid&f=classic
The icon is rotated by 45 \degrees.

[2022-10-25 23:57] veillette commented on #78
@pixelzoom , what is the best way to proceed?

I could create my own rectangular pushbutton using the font awesome icon for Calculus Grapher but should this be raised to a common code issue?
and if so should we favor the kite implementation or the font awesome icon?

[2022-10-26 00:34] veillette opened #82 "Reset for DerivativeCurve and IntegralCurve"
SInce DerivativeCurve and IntegralCurve are subordinate to the baseCurve, they should not have their own reset property.

[2022-10-26 10:18] veillette commented on #79
In the process of removing the expand collapse button, I removed the graphContent node that the expand collapse button controlled. All the children can be directly attached to the GraphNode. Overall, this simplify the logic, and the meaning of GraphNode as a node with a graph is restored. CLosing

[2022-10-26 10:18] #79 closed

[2022-10-26 10:20] veillette commented on #82
The derivative and integral curve  classes throw an error when attempting to reset these classes. Closing.

[2022-10-26 10:24] veillette commented on #80
One must set the absolute position of the first graph when laying out the new graphs. This works properly now. Closing

[2022-10-26 10:24] #80 closed

[2022-10-26 10:58] veillette opened #83 "PhET-iO: color of curves and studio tree"
The color of the curve strokes have been instrumented.

As you can see, all the colors of the curves appears under global/view/colorProfile .

![image](https://user-images.githubusercontent.com/7633344/198007882-1e82b8fc-6383-4f07-baad-b73a95b302e0.png)

While discussing the color profile with @pixelzoom, it occurred to us that it may be preferable to have a different hierarchy and link each color

[2022-10-26 14:59] #81 closed

[2022-10-26 15:16] pixelzoom commented on #82
Reopening. I think I have a better idea.

1. Delete `reset` from Curve, DerivativeCurve, IntegralCurve

2. Change the implementation of OriginalCurve `reset` to:

[code]

[2022-10-26 15:19] pixelzoom commented on #82
I would also consider factoring out `resetCurvePoints` in OriginalCurve, like this:

[code]

[2022-10-26 15:25] pixelzoom commented on #78
If there's a fontawesome icon that matches what @amanda-phet has specified, I recommend using it.

If there's no fontawesome icon, then create scenery-phet `UndoIcon extends Path`.

In either case, there should be scenery-phet `UndoButton extends RectangularPushButton`, and it should be used in all sims that have this button.

Let me know if this is something you'd like me to take on.

[2022-10-26 15:29] pixelzoom commented on #78
Looking at expression-exchange UndoButton ... I would factor out UndoIcon, then move both UndoIcon and UndoButton to scenery-phet.

[2022-10-26 15:57] veillette commented on #82
The previous commit is unrelated to the above comments. I had mistakenly removed the calls for reset on the derivativeGraphNode, etc, instead of the model. The call for reset functions on the graphNode have been restored but removed from the calculusGrapherModel

[code]

[2022-10-26 16:55] pixelzoom commented on #78
Done in the above commits, and I created issues as needed in related sims (see links above). I also used UndoButton in calculus-grapher, deleted the unused string, and ran `grunt modulify`

@veillette please review UndoIcon, UndoButton, and the use of UndoButton in calculus-grapher.

[2022-10-26 17:05] veillette opened #84 "Smooth function should handle piecewise function"
We need to generalized the smooth functionality

The triangle function

![Calculus Grapher screenshot (4)](https://user-images.githubusercontent.com/7633344/198088810-e5beb809-f3eb-4680-9e52-1e5c5910fdbd.png)

The triangle function after pressing the smooth button once.

![Calculus Grapher screenshot (5)](https://user-images.githubusercontent.com/7633344/198088970-0c1ed198-3314-44ff-8789-2a8ea3f7e

[2022-10-26 17:16] veillette commented on #82
@pixelzoom : I agree with your comment. This is an improvement over our previous approach.

I removed the reset functions from Curve, DerivativeCurve and OriginalCurve classes.  The originalCurve is the only class with a reset method.

[code]

[2022-10-26 19:25] veillette commented on #84
I replaced the moving box approach for the smoothing function to a gaussian kernel.

In many ways it is a very similar implementation to the previous smooth method, but it not takes into account variable weights.

As a result of the modification, some of the nomenclature has changed.
Since we are using a gaussian function, it is commonly accepted to refer to its "width" using the term standard dev

[2022-10-26 19:36] veillette commented on #84
Here a screenshot after one smooth event:

ALthough f(x) looks similar as above, f' and f'' are clearly not made of piecewise function anymore.
![Calculus Grapher screenshot (6)](https://user-images.githubusercontent.com/7633344/198119893-680cccd3-7559-4a8d-93a4-b46ad520567a.png)

[2022-10-26 20:29] veillette commented on #78
@pixelzoom ,that looks good in calculus-grapher.

In scenery-phet/UndoButton, the options field sets the cursor to 'pointer' but the default inherited from the ButtonNode is already set to 'pointer'.

In UndoIcon, the comments for the size options states that the icon is square. The comment is incorrect.  The height and width  of the icon shape are different. The size is merely there for scaling t

[2022-10-26 20:41] veillette commented on #78
I think the height is equal to size (for sure, the height >= size. ). It is a bit hard to parse the width and height of an icon with quadratic bezier curves.

[2022-10-26 20:52] pixelzoom commented on #78
Thanks for the review.

In UndoButton, `cursor: 'pointer'` was in the implementation migrated from expression-exchange. I've removed it.

In UndoIcon, I changed `size` back to `height`.  It was `iconHeight` in the original expression-exchange implementation.

Back to @veillette for review, feel free to close.

[2022-10-26 21:07] pixelzoom commented on #84
That looks really nice!

[2022-10-27 00:23] veillette commented on #78
THat looks good. Closing

[2022-10-27 00:23] #78 closed

[2022-10-27 00:24] veillette commented on #82
II think the work is done here. Closing.

[2022-10-27 00:24] #82 closed

[2022-10-27 02:16] veillette commented on #10
Although, we have not implement a cursor yet, (which we will refer to  as a  reference line for the html5 simulation) our DragListener has a DragBoundsProperty that allows it to remain within bounds. We will implement those on the reference line. We can therefore close this legacy issue.

[2022-10-27 02:16] #10 closed

[2022-10-27 02:20] veillette opened #85 "Sine behavior"
Discussed this at design meeting 7/23/20.

Consensus was to change the functionality of the 'sine' curve to only show 1 or 2 revolutions of sine. The sine curve would act similar to the parabola/triangle curves, where it would add a sine function based on the "width" and then taper off (introduce a sharp point).

We also discussed the tilting of the sine curve and the consensus was to first make t

[2022-10-27 02:27] veillette commented on #85
This is related to #77.

While reading through some old issue I came to this design decision from 2020. Our sine curve manipulation is similar to the flash simulation, therefore it has the same drawbacks.

I'll tag it with a design meeting label ad bring it up to the design team to confirm that we want to go along the directions stated above.

[2022-10-31 09:27] veillette commented on #84
This behaves well. Closing

[2022-10-31 09:27] #84 closed

[2022-11-01 16:42] veillette commented on #83
Code snippet for myself in case we need to change the studio tree
[code]

[2022-11-01 19:32] veillette opened #86 "Create content for "Simulation" tab of Preferences dialog"
We will need  to create a preference menu for CG.
We need to create a view node in CalculusGrapherPreferencesNode and, as a model counterpart, CalculusGrapherPreferences

The two will be invoked  in calculus-grapher-main.ts, as options to Sim:

[code]

see GeometricOptics for an example.

[2022-11-01 19:34] veillette commented on #86
As a first pass , we can will make numericalLabels public facing, and an option in preferences.
it will show numerical labels based on a toggle button.

[2022-11-01 19:59] pixelzoom commented on #86
This is not technically a menu.  It's content for the "Simulation" tab of the Preferences dialog. So I'll modify the title of this issue to prevent any confusion.

[2022-11-01 20:02] pixelzoom commented on #86
Specifically, see GOPreferences.ts (model), GOPreferencesNode.ts (view), and `preferencesModel` in GOSim.ts.

[2022-11-01 20:18] veillette opened #87 "Numerical Values on x-axis"
MV currently has a query parameter (numericalLabels=true) to show some values on the graph. It currently adds tick mark values to the x and y axes.
![Calculus Grapher screenshot (8)](https://user-images.githubusercontent.com/7633344/199331579-60539f95-c53b-4c9c-b928-0da8bd88fa47.png)

From the design document, it states that  Y-values need to move over to the y-axis.

For the x axis, the labels ar

[2022-11-05 18:35] veillette opened #88 "CT Assertion failed: cannot initialize twice"
[code]

[2022-11-05 21:37] pixelzoom commented on #88
This is one of the common pitfalls of using `mutate`.  In GraphNode.ts, you're processing options twice -- once via `super( options )`, once via `this.mutate( options )`.   And that causes `initializePhetioObject` to be called twice.

Relevant code in GraphNode.ts:

export default class GraphNode extends Node {
...
  public constructor( ... ) {
...
    super( options );
...
    this.mutate( option

[2022-11-05 21:39] pixelzoom commented on #88
So... If you need to use `mutate`, take care to call `super()` instead of `super( options )`.   I generally prefer to avoid `mutate`, as most uses of it are unnecessary and inefficient (as you and I discussed recently).

[2022-11-07 20:20] veillette commented on #58
In the commit above I change the algorithm such that a quadratic bezier curve is used  between two intermediate points. A succession of bezier curves is generated as the user drag the cursor. As a result, the first derivative is well defined and continuous throughout the curve.
![Calculus Grapher screenshot (9)](https://user-images.githubusercontent.com/7633344/200406318-2d76531e-e8b4-435c-9d40-5d

[2022-11-08 15:54] veillette commented on #58
This a great improvement over the previous implementation. Let me pause this for a moment, and see if solving the root of the quadratic equation triggers CT.

[2022-11-08 16:07] veillette opened #89 "Control Panel"
The control panel of the simulation has been mostly completed. The icons, slider and curveDisplay have been implemented.
I have yet to add the checkbox for the derivative and integral screens.

https://phet-dev.colorado.edu/html/calculus-grapher/1.0.0-dev.3/phet/calculus-grapher_en_phet.html
In the meantime, can you take a look at the dev above and let me know if you have any comments
about the lo

[2022-11-08 16:53] veillette commented on #58
Note for myself: One additional improvement would be to interpolate the first linear segment using the penultimate position. It would allowed to find the cp1 accurately for all iterations.

[2022-11-08 21:22] amanda-phet commented on #89
It is looking great! We will probably want to come back later and polish it, but one easy polish is to provide more space above the curve so it doesn't get clipped. Notice the top of this parabola isn't totally visible:
![image](https://user-images.githubusercontent.com/7852916/200677612-4bb25102-0c8f-4d88-9fc6-df055a3d5a27.png)
It also looks like the bottom is getting clipped a bit:
![image](http

[2022-11-08 21:25] amanda-phet commented on #87
No. On the x-axis looks great to me.

All graphs is fine, since the provide a reference if someone isn't using the reference line.

[2022-11-09 15:34] veillette opened #90 "Instrumentation of Curve and its subclasses for PhET-iO"
The class hierarchy of curve follows the pattern below.

Original Curve -> Transformed Curve -> Curve
Derivative Curve -> Curve
IntegralCurve -> Curve

The instances of the derivative and integral curve are "derived" from the original curve, in the sense that the originalCurve determined everything  about them.
For PhetIO, a client should be able to "get" and "set" an original curve, but it should

[2022-11-09 15:38] veillette commented on #90
Assigning to @pixelzoom so that it can inform his design for the instrumentation of Curve

[2022-11-09 16:48] veillette commented on #87
The simulation stays as is. We can close this issue.

[2022-11-09 16:48] #87 closed

[2022-11-09 17:07] veillette commented on #89
Thanks @amanda-phet .
There are several small changes here, most notably the maxY, minY value of the curve points, is smaller than the chartTransform, ensuring that the displayed curve is not clipped.

Other changes are
- left-align the grid and reference line checkboxes with the left edge
- make push buttons smaller
- make spacing between radio buttons larger

Here is a screenshot.
![image](https

[2022-11-09 17:23] veillette commented on #88
I addressed the CT issue by removing the duplicate `this.mutate( options )`.
We discussed during our yesterday meeting the tradeoffs of using `super()` followed by `this.mutate(options)`  vs
`super(options)`

In this case, the instances of GraphNode are created and then layed out later, so there is no need to mutate their options field.

We can close this since CT is now quiet.

[2022-11-09 17:23] #88 closed

[2022-11-09 17:43] veillette commented on #86
The CG preferencesNode and its associated model have been created. At this point, it is pretty barebone, but it shows a onOffToggle switch that display the numericalLabels.

[2022-11-09 18:13] amanda-phet commented on #89
Looks great! Thanks!

[2022-11-09 18:15] amanda-phet commented on #89
I'll close this, since I think any future polishes can be done in another issue or in a meeting.

[2022-11-09 18:15] #89 closed

[2022-11-10 16:33] veillette opened #91 "Keeping track of additional states of CurvePoint"
While working on #64, I noticed that we are not saving the isDiscontinuous state of the CurvePoint, therefore our restored state from the undo button is incorrect.

[2022-11-10 17:04] veillette commented on #64
Ttacking the problem about saving the full state of CurvePoint in https://github.com/phetsims/calculus-grapher/issues/91

[2022-11-10 18:17] veillette commented on #58
I have implemented the last suggestion. After this change I published a new dev.
https://phet-dev.colorado.edu/html/calculus-grapher/1.0.0-dev.4/phet/calculus-grapher_en_phet.html

Playing with the dev, I see that the freeform mode seems to be responsive, but also smooth.

[2022-11-10 20:12] veillette opened #92 "CT: Uncaught Error: Assertion failed: t should be between 0 and 1 (inclusive):"
[code]

[2022-11-10 20:13] veillette commented on #92
This is related to recent work on freeform (#58)

[2022-11-10 20:32] veillette opened #93 "Numerical labels and zoom and eye toggle buttons"
![image](https://user-images.githubusercontent.com/7633344/201199025-1c7aed83-5b52-4d2a-b88c-41eea621aad4.png)

How should we align the zoom and eye toggle buttons when Numerical labels is turned on?

Three possibilities:
- The eye toggle and zoom buttons sit always at a fixed distance from the graphs,, allowing enough place to numerical labels (when visible)
- The eye toggle and zoom buttons shif

[2022-11-10 21:19] veillette commented on #85
yes we want to go ahead with 2 cycles.

[2022-11-10 21:40] amanda-phet commented on #52
From the PhET-iO design doc:

[2022-11-10 21:52] pixelzoom commented on #62
11/10/2022 design meeting:

The milestone for completing the general design is moved from 10/31/2022 to 11/16/2022.

[2022-11-11 13:12] veillette commented on #93
We want the zoom and eye toggle to adjust depending on the presence/absence of numerical labels.

[2022-11-11 13:16] veillette commented on #58
On 11/10 Meeting we decided that the curve was smooth enough to work. We can close this issue and QA can reopen a new one if they find something problematic.

[2022-11-11 13:16] #58 closed

[2022-11-11 16:44] amanda-phet opened #94 "Update colors"
@veillette can you update the colors to match these:
![image](https://user-images.githubusercontent.com/7852916/201388350-7115c843-082f-464e-9d74-ed6a0675af0c.png)

background: F3FCFE
integral curve: 009245
f(x) curve: 0000FF
1st derivative curve: FF0000
2nd derivative curve: 662D91

I reviewed these for color-blindness and they are all working well to my eyes.

[2022-11-11 17:01] amanda-phet commented on #70
@veillette for f(x) and f(t), can you use Times (or whatever the PhET math font is) for the parentheses? That might help with the spacing between f and the open parenthetical. I also think it would look better. If they are still touching, we might want to add a space.

[2022-11-11 17:05] amanda-phet commented on #63
I believe this is worked out now, and you already have this reflected in the latest version. But just to have it documented, let's use this control on the left to switch between which graphs are in view.

Advanced screen:
![image](https://user-images.githubusercontent.com/7852916/201392266-35606522-b8be-4f8f-a136-7bc0b52afd6e.png)

Lab screen:
![image](https://user-images.githubusercontent.com/785

[2022-11-11 17:08] amanda-phet opened #95 "Add animation when switching between "graph sets""
Related to https://github.com/phetsims/calculus-grapher/issues/63

When the user choose which graphs are in view, I'd like the graphs to smoothly animate up or down (so it looks like they are sliding) to reveal the new visible graph.

As for the zoom and eyeball buttons, those probably need to animate with the graphs, since f(x) doesn't have zoom buttons.

[2022-11-11 17:09] amanda-phet commented on #28
This issue is stale, since @veillette has implemented a solution for freeform to behave pretty nicely.

[2022-11-11 17:09] #28 closed

[2022-11-11 17:11] amanda-phet commented on #77
This was discussed in the 10/10/22 design meeting, so I think we clarified it (especially in regards to the sine curve behavior).

@veillette could you specify any open questions that are remaining for this issue?

[2022-11-11 17:14] veillette commented on #94
OK will do.

background: F3FCFE ->  rgb(243, 252, 254)
integral curve: 009245 -> rgb(0, 146, 69)
f(x) curve: 0000FF -> rgb(0, 0, 255)
1st derivative curve: FF0000 _> rgb(255, 0, 0)
2nd derivative curve: 662D91 -> rgb(102, 45, 145)

and #808080 -> rgb(128, 128, 128)

[2022-11-11 17:18] pixelzoom commented on #95
@veillette you and I had talked about this a few weeks ago.  This will involve a txixt animation, similar to what I did in hookes-law.IntroAnimator.  To demonstrate, run Hooke's Law, go to the Intro screen, and use the radio buttons to switch between 1-spring and 2-spring systems.

@amanda-phet A couple of questions:

(1) Do you want the "newly visible" (or newly invisible) graphs to fade in/out,

[2022-11-11 17:22] pixelzoom commented on #94
@veillette note that you can use hex colors if you'd like, they are supported by scenery.

[2022-11-11 17:58] amanda-phet commented on #95
Ooh, I love what you did in Hooke's Law!

(1) yes, let's use fade in/out for the graph that is newly visible/invisible, if you think that will work. It seems like the sequence will be: fade out --> slide up --> fade in in the case of removing an integral graph and adding a derivative graph. Does that sound right? I hope that isn't too slow of an animation.

(2) The answer will be identical, I woul

[2022-11-11 18:21] veillette commented on #94
Thanks @pixelzoom .
 I updated the colors with rgb, but that's good to know that it is not necessary.

[2022-11-11 18:30] veillette commented on #94
@amanda-phet
I updated the colors for the curve strokes and background.
I replaced the circle on the referenceLine by a blue shadedSphere

I am not sure what you meant by the picture of the undoButton.
For your information, in CG,  the yellow buttons are using PhetColorScheme.BUTTON_YELLOW  which is Color( 254, 225, 5 ).
Let me know what color you would prefer to use.

[2022-11-11 18:33] veillette opened #96 "Change width of graphs (model and view)"
The x Range for the model of the graphs should be from 0 to 36 instead of 0 to 40, as decided on the 11/10 design meeting. The view should scale accordingly.

[2022-11-11 18:41] veillette commented on #96
Here is a screenshot of the result. The issue with #93 has not been addressed yet, but you can see that it gives us more leeway for the layout of the graph buttons.

![Calculus Grapher screenshot (12)](https://user-images.githubusercontent.com/7633344/201408884-7ed882da-75e6-459d-9aa0-eec7abda2f9f.png)

[2022-11-11 21:46] veillette commented on #93
In the previous commit,  we have made the zoom button and eye toggle button move according to the setting of numerical Labels.
Assigning to @amanda-phet  to review.

[2022-11-14 14:32] veillette commented on #70
In general, parentheses ( as well as brackets, operators  and numbers) are not italicized in math, which is why I'm not using Math font the parenthesis.

I added a hair space between the f and the parenthesis to address the issue.
![image](https://user-images.githubusercontent.com/7633344/201685015-16bb83ef-e9d0-49c8-9b38-cba58190b210.png)

[2022-11-14 15:21] veillette commented on #70
Assigning back to @amanda-phet to review.

[2022-11-14 16:07] veillette commented on #29
Tracking the sine implementation in #85. Closing

[2022-11-14 16:07] #29 closed

[2022-11-14 17:05] amanda-phet commented on #70
Thank you, this is much better!

Can this be closed now?

[2022-11-14 17:09] amanda-phet commented on #94
The undo button is fine, it is only there because I was putting all of the sim colors in one place.

The rest of the colors look great, thank you!

[2022-11-14 17:20] veillette commented on #70
We can close this issue. Closing.

[2022-11-14 17:20] #70 closed

[2022-11-14 17:23] veillette commented on #96
In the meantime, I addressed #93, so the layout of the buttons should be fixed as well.

Assigning to @amanda-phet to review. Feel free to close.

[2022-11-14 17:24] veillette commented on #92
One of the root is 1.0000000000000002 which is a tiny bit above 1.
We could allow a tolerance for the bounds.

[2022-11-14 17:25] veillette commented on #92
I'll keep an eye on CT to see if there are more egregious cases of failure.

[2022-11-14 18:13] pixelzoom commented on #92
You could also use dot `Utils.clamp `to ensure that the value is in the bounds [0,1].

[2022-11-14 18:18] amanda-phet commented on #96
Looks good. Thanks!

[2022-11-14 18:18] #96 closed

[2022-11-14 19:43] veillette commented on #95
I was able to understand most of what is going on in `IntroAnimator` of HookesLaw. It is nicely setup to toggle between two given scenery Nodes and the transition between the two is triggered by an axon property.

This approach is orthogonal to how we build the graphs in `GraphsNode` .
In `GraphsNode` we have an axon Property `graphsSelectedProperty`, that is a property of `<GraphChoice>` .
[code]

[2022-11-14 21:44] amanda-phet commented on #62
I believe this issue is complete, since we've discussed all additional features now.

[2022-11-14 21:44] #62 closed

[2022-11-15 13:45] veillette opened #97 "New Feature: Tangent Line on Derivative Screen"
- Toggle to show tangent line on First Screen
- Show a “scrubber” that could be dragged horizontally that moves the point of tangency

![image](https://user-images.githubusercontent.com/7633344/201934440-66064721-46d5-4b88-bcc4-4f142a4a74f0.png)

Discussion:

We like having a tangent line that is a set length, and discussed possibilities of curve (and tangent) being outside the graphing window
The

[2022-11-15 14:05] veillette opened #98 "Notation preferences for curve labels"
We have a simple preference that uses t instead of x for the variable.

Current:
∫0→x f(t) dt
f(x)
df/dx
d2f/dx2
---------

Time Base with Leibniz:
∫0→t1 f(t) dt
f(t)
df/dt
d2f/dt2

Space base with Lagrange
∫0→x1 f(x) dx
f(x)
f’(x)
f’’(x)

We are considering four options total (two binary options) that switch between
space  (x) OR  time (t)
Lagrange (prime) OR Leibniz notations (fractions)

We wil

[2022-11-15 14:09] #64 closed

[2022-11-15 14:17] veillette opened #99 "New Feature: Area under Curve for Integral Screen"
We will track the issue of are under the curve here.

![image](https://user-images.githubusercontent.com/7633344/201941629-5414a9c6-81ff-4caf-87e1-0a75c3921197.png)

![image](https://user-images.githubusercontent.com/7633344/201941738-c1f35dde-b137-4896-9dee-5ca8fab4270f.png)

The scrubber should start at zero.

[2022-11-15 14:39] veillette opened #100 "New Feature: Predict Mode"
The control fits above the “width” slider in the control panel on all screens

![image](https://user-images.githubusercontent.com/7633344/201945468-334c6352-0b0e-4a90-966e-2bebdeefaa18.png)

When in predict mode, all of the curve controls turn gray, and the label inside the f(x) graph updates to say “Predict f(x)”, and a “Show f(x)” checkbox appears. If on the Derivative or Integral screens, the T

[2022-11-15 14:43] veillette opened #101 "Discontinuity display control in Preferences dialog"
This will be in the simulation tab of the preferences menu

Let’s use two radio buttons with images (drawn in code)

![image](https://user-images.githubusercontent.com/7633344/201947579-0a0e52ca-f8b0-4097-80fa-afa5964c792d.png)

[2022-11-15 15:15] veillette opened #102 "New Feature: Values"
we have made numericalLabels public facing, and an option in preferences.

Show numerical labels

This query parameter would add:
- [x] Numerical labels to axes
- [ ] Numerical label to slope of tangent line at point on f(x) curve
- [ ] Numerical label of y-value at point on integral curve

Style the tangent and integral labels similar to Number Line sims, Area Model sims, Graphing Quadratics, and

[2022-11-15 15:26] veillette opened #103 "Create a factory for curve buttons."
The buttons will need to support the change in notation discussed in #98.

![image](https://user-images.githubusercontent.com/7633344/201956209-7198ea09-289e-4ddc-96be-22061ea2df76.png)
![image](https://user-images.githubusercontent.com/7633344/201957278-44d9e89e-5ebf-49ac-9cbe-6a515997b965.png)
![image](https://user-images.githubusercontent.com/7633344/201957791-29dc9d29-284b-4e31-bb8b-aa191d3659

[2022-11-15 15:58] veillette commented on #95
After some consideration, I think the animations should not be done at the level of the container of the graphs but the graphs themselves.

Considering the advanced graph

we start with
- integral graph
- f(x) graph

and press the derivative button. we want to end up
- f(x) graph
- derivative graph

A possible sequence of animation would be
- make the derivative graph appears (by changing the opac

[2022-11-15 16:51] veillette commented on #103
See #63 for how to use them in the simulation

[2022-11-15 17:00] veillette commented on #5
We are addressing this issue in #85.
Closing

[2022-11-15 17:00] #5 closed

[2022-11-15 17:06] veillette opened #104 "Sig figs and zooming"
While values enabled (in preference dialog), we can zoom in and out of a graph.
Eventually we come across this
![image](https://user-images.githubusercontent.com/7633344/201981758-9387aa85-a945-462f-a0ed-c1f7b7a09546.png)

[2022-11-15 17:11] #8 closed

[2022-11-15 17:15] veillette commented on #3
We will implement the behavior agreed upon above. Tracking in #85.

[2022-11-15 17:15] #3 closed

[2022-11-15 17:23] pixelzoom commented on #95
Indeed, I didn't think we'd be able to use the same approach as Hooke's Law, sorry for not being clear about that.  I referred to Hooke's Law mainly to see how twixt can be used to animate things, and how animation of translation and opacity in particular might be appropriate for Calculus Grapher.  The actual animation sequence that we use should be based on what's need for Calculus Grapher.

[2022-11-15 18:15] pixelzoom commented on #90
@veillette pointed out that we need to consider what happens when curves are reset.  They should do back to the initial state that the instructor set, not the default initial state of startup for the sim.

[2022-11-15 18:23] pixelzoom opened #105 "Behavior of eraser button"
How should the eraser button behave when we're running a version that was saved via Studio?  Should erasing set all y values to zero (the default `initialY` of CurvePoint)?  Or should it restore the curve to what the instructional designer had saved? The latter would be difficult, maybe currently impossible, based on how PhET-io restores state and handles "reset all".

[2022-11-15 19:26] pixelzoom commented on #98
The first thing we need to decide is whether this is 1 Preference or 2 Preferences (1 or 2 Properties), and how that is presented in the Preferences dialog.

The 1 Preferences approach has the advantages of a better UI, with the ability to add more notation choices in the future -- which may be needed since we have fully not decided what notation are needed.

UI for 1 Preference:
[code]

UI for 2

[2022-11-15 19:42] pixelzoom commented on #95
@veillette and I discussed in our 11/15 meeting.

* `type GraphChoices` has served us well so far, and the flexibility of specifying other configurations of graphs is likely to serve us well in the future. So let's stick with it.

* The most general approach to animation is something like:
  * compare newGraphChoices to oldGraphChoices
  * fade out any graphs are only in oldGraphChoices
  * transl

[2022-11-15 19:53] pixelzoom commented on #98
I'll own this issue and discuss with @amanda-phet.

[2022-11-15 20:10] pixelzoom commented on #103
I would start by using a horizontal colored line for all of these buttons. It will be a simpler implementation.  Then if that's not acceptable, consider adding different curves for each button icon.

[2022-11-15 21:19] veillette opened #106 "Items in GraphSetRadioButtonGroup should support Lab and Advanced screens"
The items for the GraphRectangularRadioGroup are hardwired to the need of the Advanced (third) screen .
[code]

As a result, the same buttons show up on the Lab (fourth) screen.

The tandemName, as well as their associated node/label should support both screens.

I haven't given any thought about the best way to address it but this should be done before #103.

[2022-11-15 22:11] pixelzoom commented on #101
@amanda-phet @veillette ready for review.

The control currently looks like this in the _Simulation_ tab of the Preferences dialog. (Ignore the on/off switch above it, that's a work in progress for turning numerical values on/off.) I'm using the standard font size, as specified by `PreferencesDialog.CONTENT_FONT`.

<img width="735" alt="screenshot_1953" src="https://user-images.githubusercontent.c

[2022-11-15 22:16] pixelzoom commented on #106
Remcommend to rename GraphsRectangularRadioButtonGroup.  It's definition is currently:

[code]

We typically name subclasses based on the type of their associated Property, in this case `GraphChoice`.  So in this case, `GraphChoiceRadioButtonGroup` would be a more appropriate name. (The "Rectangular" part of the superclass name is also typical to drop.)

[2022-11-15 22:40] pixelzoom commented on #102
@amanda-phet we need more specifics on this before proceeding.  Specifically:

(1) How do you want this to appear in the control panel? A checkbox labeled "Values", like in Hooke's Law? (see below) Something else?

<img width="262" alt="screenshot_1957" src="https://user-images.githubusercontent.com/3046552/202039722-529d81fc-8150-4817-b7ea-9af74cc8da3c.png">

(2) What does the control look like i

[2022-11-15 22:45] pixelzoom commented on #102
My recommendations for the questions in https://github.com/phetsims/calculus-grapher/issues/102#issuecomment-1315963860 is:

(1) Checkbox labeled "Values"

(2) An on/off switch with "Values" to the _right_ of the switch.

(3) `valuesVisibleProperty`

(4) `?valuesVisible`, boolean, default=false

[2022-11-15 23:20] pixelzoom commented on #102
I took the liberty of implementing my recommendation from https://github.com/phetsims/calculus-grapher/issues/102#issuecomment-1315967743, since it's consistent with what I've done in other sims.  This will give a starting point to discuss changes.

Here's the current state of things...

Preferences dialog:

<img width="743" alt="screenshot_1958" src="https://user-images.githubusercontent.com/3046

[2022-11-15 23:29] pixelzoom commented on #104
@veillette and I discussed this in our 11/15 meeting.

* @veillette  has an approach that he's using that looks good, and doesn't need the complexity of the Fourier approach.  So he'll continue doing what he's doing.

* The layout issue shown in https://github.com/phetsims/calculus-grapher/issues/104#issue-1450109399 is weird. We took a quick look, but did not immeditely figure it out.  Regardless

[2022-11-15 23:33] pixelzoom commented on #86
@veillette this issue can likely be closed. Now that you have CalculusGrapherPreferences.ts and CalculusGrapherPreferencesNode.ts, futher work on Preferences will involve adding to those classes (and to CalculusGrapherQueryParameters.ts).

[2022-11-16 13:34] veillette commented on #102
The internal changes 2 and 3 brings it more in line with other sim.

[code]

I'll let @amanda-phet review the more public facing change (1) .

[2022-11-16 13:49] veillette commented on #86
Closing this issue.

[2022-11-16 13:49] #86 closed

[2022-11-16 14:45] veillette opened #107 "Refactor GraphChoice(s) and its associated property."
Currently in `CalculusGrapherCommonScreenView.js`, we have the following types

[code]

and an associated property

[code]

In addition the buttonGroup associated with the graphChoice property is graphChoiceRadioButtonGroup.

- We should considering refactoring ` graphsSelectedProperty` to  better reflect the type of the property.

- There are some inconsistencies with the pluralization. `GraphCho

[2022-11-16 16:35] pixelzoom commented on #107
Thinking about this a little more.   I think I would start by getting rid of  `GraphChoices/GraphSet` altogether, and simplify GraphChoice.ts to this:

[code]

Then use `GraphChoice` and `GraphChoice[]` and `GraphChoice[][]` as appropriate, and see how that feels.  It is certainly more obvious.

[2022-11-16 16:49] pixelzoom commented on #107
... but the problem with https://github.com/phetsims/calculus-grapher/issues/107#issuecomment-1317312694 is what to name things of type `GraphChoice[][]`:

[code]

[2022-11-16 16:51] pixelzoom commented on #107
... but the problem with https://github.com/phetsims/calculus-grapher/issues/107#issuecomment-1317312694 is what to name variables of type `GraphChoice[][]`:

[code]

So I guess I'm still leaning towards:

[code]

with variable names:

[code]

[2022-11-16 16:59] pixelzoom commented on #107
Or maybe this isn't a typical use of string union, and I shouldn't be thinking of it as an enumation?

And maybe I'm getting confused because natural-selection also has a `GraphChoice` enumeration (which is not a string union only for reasons of PhET-iO backward compatibility.)

Sorry to be so long winded.  Maybe we should discuss before making any major changes?

[2022-11-16 17:00] veillette commented on #104
In the commits above I created a new TickLabelSet when the vertical range changes. I hoisted the creation of the tickLabelSet into a private method.

[code]

Since we create a new TickLabelSet, we need to remove the previous verticalTickLabelSet. It is not a pattern that  I used very often, so it would be worth for you to review it for correctness.
[code]

You will notice that I create a new TickL

[2022-11-16 17:13] pixelzoom commented on #107
OK, I think I have myself reoriented on this.  GraphChoice was not intended to be an enumeration.  So a simpler change is needed.  And I think it's mainly the GraphChoice name that's confusing.  So how about changing GraphChoice to something like GraphSet?  Like this:

[code]

And simply use `GraphSet[]` instead of adding `type GraphSets = GraphSet[]`.

[2022-11-16 18:43] veillette commented on #107
@pixelzoom : give me the greenlight and I'll implement the changes above.

[2022-11-16 20:54] veillette commented on #104
Reassigning to myself.

I found that there is a method in `Util.js` that gives you the numberOfDecimal places of a value.

Since we dont want the number of decimalPlaces to exceed two,  we could have
[code]

[2022-11-16 22:47] pixelzoom commented on #107
What you've summarized in https://github.com/phetsims/calculus-grapher/issues/107#issuecomment-1317448376 sounds great to me.  If it were me,  I'd also move this bit into GraphSet.ts, but don't mind if you leave it in CalculusGrapherScreenView.ts:

[code]

[2022-11-16 23:01] pixelzoom commented on #107
One other thing occurred to me.  GraphSet is indeed a "set", and therefore its values should be unique.  And if they are not unique, that's would be a problem, since only 1 instance of each graph exists.

We don't currently have a type for "unique array", but here's an article on how to implement one: https://ja.nsommer.dk/articles/type-checked-unique-arrays.html.  This might be a nice thing to ad

[2022-11-17 22:00] veillette commented on #104
I addressed the simplification in the commit  above.

[2022-11-17 22:00] veillette commented on #104
Assigning to @pixelzoom  and @amanda-phet for review.

[2022-11-18 14:29] veillette commented on #100
@amanda-phet:

I have a comment that you should check for correctness and a question about model behavior.

Here is my understanding of the predictMode.
In PredictMode, the colors of the CurveManipulationIcons as well as witdthDisplayCurve changes color to reflect the fact that are in PredictMode. However, the value of the width as well as the selected curveManipulation mode are shared between f(x

[2022-11-18 15:47] pixelzoom commented on #100
My 2 cents:

Yes, what you've described should be the behavior. I see no reason to complicate things by having the 2 modes each have their own "width" state for the manipulations.

What should happen if you press a yellow button in Predict Mode?

In Predict mode, the yellow push buttons should apply only to the prediction curve. The original f(x) should be unaffected.

[2022-11-18 16:02] veillette commented on #100
I also support  @pixelzoom recommendation for the buttons as it provides the most user friendly experience.
- The user should expect an action if pressing a button, so option (1) is sub optimal since the user may not have turned the visibility of f(x).
- Options (3) would be surprising, particularly if a user makes a mistake while drawing a curve and would like to erase it.

[2022-11-18 16:40] veillette commented on #101
THat looks good to me. I added the documentaion of the queryParameter in implementation-notes.md https://github.com/phetsims/calculus-grapher/commit/02369e37736d029427fde4ced7b4abe07b3a7be5

[2022-11-18 16:45] pixelzoom commented on #100
Other aspects of this feature that has not been specified:

* When Predict mode is turned on and off, does it remember the previous prediction curve, or start with a new curve each time?  I think it needs to remember, in case the student/teacher wants to toggle on/off while trying to match a specific f(x).

* What is the PhET-iO instrumentation? Is the prediction curve stateful?

[2022-11-18 17:17] veillette commented on #92
There hasn't been any other failures from CT. This indicates that the method to find the roots in the freeform algorithm is sound but that it may not pass CT because of rounding errors.

The rounding error does not affect the position of the point, so we should let is slide but I'm reluctant to use `Utils.clamp` in the assertion as it may hide other problems.  I'll add an epsilon value to add tole

[2022-11-18 18:02] veillette opened #108 "Reconsider Curve Hierarchy"
As we are discussing #100, we may want to reconsider the Curve  Hierarchy

OriginalCurve --> TransformedCurve --> Curve

[code]

[code]

The OriginalCurve creates  the curveManipulationModeProperty and curveManipulationWidthProperty

The predict curve should be of the type 'Transformed" since there should be only one curveManipulationModeProperty and curveManipulationWidthProperty in the sim.

How

[2022-11-18 18:06] veillette commented on #108
Assigning to @pixelzoom  to review this proposal.

[2022-11-18 18:23] veillette commented on #108
Thinking about it, we can make the case for a counterproposal, to keep the same class structure for the Curve in the model , but instead to introduce an intermediate class in the view.

[code]

`TransformedCurveNode` would be like

[code]
and most of the current functionality of OriginalCurveNode , such as dragHandling would be transferred to TransformedCurveNode.

`OriginalCurveNode` would be lik

[2022-11-18 20:20] veillette opened #109 "Remove vestigial options"
While working on #107, I found that in `CalculusGrapherScreenView` we have
[code]

The first two option fields are vestigial and currently unused.

[2022-11-18 20:47] veillette commented on #107
I implemented the comment in https://github.com/phetsims/calculus-grapher/issues/107#issuecomment-1317448376

I also added an assertion to check that each graphSet has unique values.

A second assertion should also be added to ensure that each graphSet in options.graphSets is unique.
Maybe that warrants creating a new Class, or using a Javascript Set might help. I'll put in as a discussion point f

[2022-11-21 16:55] amanda-phet commented on #52
Design is complete!

We reviewed this doc and checked off items already completed and highlighted items that haven't been implemented yet (or where we added additional information).

[CG PhET-iO Design Doc](https://docs.google.com/document/d/1M7th-Lanv9tS7O7SPOcpR2cn10nu0IbciQqex25Go_Q/edit#)

Let me know if you have follow-up questions (or ask in the google doc so we can add clarification there).

[2022-11-21 17:02] veillette opened #110 "derivatives should look for discontinuities or cusps in the base curve."
The way to calculate the derivative should be dependent on the presence of discontinuities and cusps.

The current approach to determine the derivative is based on the y value of the left and right hand side of each  point.
It is also known as the symmetric difference quotient. It is numerically more stable, and is a  more accurate approximation to the derivative than a one-sided estimation. The e

[2022-11-21 17:03] amanda-phet commented on #98
We prefer the 2 preference UX

[code]

1. We'd like Lagrange listed first, since that will be the default.
2. We'd like an example included with the notation options, formatted appropriately.
3. Can the example for each notation type be dynamic, so it would updated based on the variable selection?

[2022-11-21 17:15] pixelzoom commented on #90
Here are the main points for this issue:

* Curve contains a collection of `points: CurvePoint[]`. For performance reasons, they are static instances that are mutated as the curve changes.
* When `points` is changed, whoever is making the change is responsible for calling `curveChangedEmitter.emit` to notify listeners.
* The PhET-iO requirement is to be able to set/get `points` for f(x), and to ge

[2022-11-21 18:49] veillette opened #111 "Vertical Lines for PhET-iO"
From the design document:
Line/Label tool:
Add vertical lines at certain locations

Instructional designer inputs x-coordinate, hex code, and a label in studio
Default hex code should be black
1px, dashed, long dashes and small spaces (if dashed doesn’t work, try not dashed)
Line spans multiple graphs
Sim displays a vertical dashed line and label above the vertical line
Limit this to 10 lines
Each

[2022-11-21 18:50] veillette opened #112 "Reference Line tool and PhET-iO"
Similar to data and line tools in #111, reference line tool should have have associated data for value for each of the curves at that x value (so four values - integral of f 0-x, f(x), f’(x), f’’(x))
if f’(x) is undefined, just say “undefined” or whatever you are using to indicate it.

[2022-11-21 18:53] veillette opened #113 "Set location of reference line using x-value and PhET-IO"
In PhETIO, the user should be able to set the location (c position) of the reference line.

[2022-11-21 18:54] pixelzoom commented on #98
Screenshot below shows what is currently implemented.

Caveats:
* Changing these preferences does NOT currently update the reset of the sim
* The Notation examples are ugly and need work.

@viellette and I will discuss next steps in our meeting this week.

![screenshot_361](https://user-images.githubusercontent.com/3046552/203136339-16ac13d0-6df7-4465-b9b5-a5e8062f6a74.png)

[2022-11-21 19:09] veillette opened #114 "Choose which manipulationCurveModes are visible in the radio button group with PhET-iO"
We currently have an option field which select which manipulation modes are displayed for each screen.

[code]

However, we would like to go further and expose it to PhET-IO.

[2022-11-21 20:39] veillette opened #115 "Labeled Points for PhET-iO"
From design document.
Point/Label tool:
Could use this to ask users to create a graph with certain conditions at certain points
- [x] Add labels/points at certain coordinates
- [x] Instructional designer inputs x-coordinate, hex code, and a label in studio and label
- [x] Sim displays a small filled circle and label at that coordinate location
- [x] Default hex code should be blue to match the cur

[2022-11-21 20:58] veillette commented on #113
I didn't realize it but this came for free with the instrumentation of referenceLineXCoordinateProperty. Closing.

[2022-11-21 20:58] #113 closed

[2022-11-22 13:34] veillette commented on #94
Reopening, the predictCurveStroke has not been added yet.

[2022-11-22 16:58] pixelzoom commented on #114
Here's a patch that demonstrates how to accomplish this.  Create radio button for ALL possible modes, set each radio button's `visible` based on whether it's in the initial set of mode choices. Then the instructional designer can visit `curveManipulationModeRadioButtonGroup` in Studio, and change the visibility of radio buttons as desired.

<details>
<summary>Patch</summary>

[code]

</details>

[2022-11-22 17:02] pixelzoom commented on #98
@amanda-phet please review.  Let me know what you like to change.  I intend to polish the notation examples, so assign back to me after review.

[2022-11-22 17:15] pixelzoom commented on #77
@veillette do you need any more info here? Or was this addressed sufficiently at design meeting?

[2022-11-22 17:16] pixelzoom commented on #75
I think that @amanda-phet and @kathy-phet have had enough time to familiarize themselves with this query parameter ( > 1 month), so I'm going to close this issue.

[2022-11-22 17:16] #75 closed

[2022-11-22 18:24] pixelzoom commented on #111
@veillette and I discussed. Notes:

* Do we really need this feature?  It's going to be a lot of work. How are we going to test this going forward? PhET has no process for testing PhET-iO-only features, and CT won't test this.  So it's likely to get broken in the future.

* The practical way to do this would be to create 10 instances of some class (e.g. `VerticalLabelLine`) that describes the x-co

[2022-11-22 18:32] pixelzoom opened #116 "Instrument only the curves and graphs that are relevant for a screen"
Currently, all screens have the full set of graphs instantiated and instrumented in the model and view. For example, for the _Derivative_ screen:

<img width="287" alt="screenshot_1975" src="https://user-images.githubusercontent.com/3046552/203393465-81a1ad05-29fc-4465-a0bb-a9ab86dd9ab0.png">

When we get closer to feature complete, we should prune what gets instrumented (and perhaps what gets ins

[2022-11-22 19:20] pixelzoom commented on #98
@veillette and I decided to simplify the labeles for the Notation radio buttons, so that we can use the same Nodes to render the examples as we are using to label the charts.  Because these are Nodes, they cannot be in the middle of a string, like "(e.g. f'(x))".   Note also the left-to-right order of the label will not be flexible based on locale -- the example notation will always be to the righ

[2022-11-22 20:32] pixelzoom commented on #108
@veillette and I discussed this issue in our meeting today.  The first approach (described in https://github.com/phetsims/calculus-grapher/issues/108#issue-1455569105) sounds very reasonable to me.

[2022-11-22 20:42] amanda-phet commented on #98
This looks great! I think it's fine that the example notation will always be to the right of the label.

As far as improving the notation examples, it would be more ideal if the Leibniz example was a vertical fraction but I understand if that might be difficult and not worth the effort. Here's what I mean by vertical fraction:
<img width="63" alt="image" src="https://user-images.githubusercontent.

[2022-11-22 20:51] amanda-phet commented on #111
These are great questions. @kathy-phet should probably weigh in as the primary PhET-iO stakeholder.

We identified a lot of pedagogical value in having this in PhET-iO. For example, someone could set up a situation where they have lines in specific locations and they can ask students to build a graph with a specific quality at that location.

I have no idea about how it relates to testing.

That s

[2022-11-22 20:52] veillette commented on #106
@pixelzoom volunteered to work on this issue.

[2022-11-22 21:04] pixelzoom commented on #90
In our meeting today, @veillette and I reviewed and committed my proposed patch.

@amanda-phet @kathy-phet please review. This is high priority, because it's a fundamental part of the model.

To review in Studio:
1. Go to the _Derivative_ screen.
2. Navigate to `derivativeScreen.model.originalCurve.pointsProperty`.
3. Inspect the value of `pointsProperty`.  Note that its value updates as you chang

[2022-11-22 21:07] veillette commented on #101
In the two commits above, I linked the visibility of connectDiscontinuitiesProperties to the discontinuousLinePlot and added  the property to  modelLinkables.

[2022-11-22 21:09] veillette commented on #101
Assigning back to @amanda-phet  to review the work on  Discontinuity display control

[2022-11-22 21:22] amanda-phet commented on #101
The names for things sound reasonable to me, but falseRadioButton and trueRadioButton weren't clear until you explained the connectDiscontinuitiesProperty. Could those radio buttons have different names? I understand why they are named as such, but on first glance they weren't as clear to me. I don't have a great idea though...

I also would prefer that visually the two radio buttons are switched

[2022-11-22 21:25] pixelzoom commented on #98
The radio buttons here will use the same Node as is used to label the graphs.  When @veillette has those working for the graphs, we will use them here.  I'll be happy to handle that, or @veillette can address it if he wishes (so I'll co-assign him to this issue).

I'm expecting that to be the case for every sim that has sim-specific Preferences.

[2022-11-22 21:27] veillette commented on #101
Assigning back to @pixelzoom to implement the suggestions above.

[2022-11-22 21:31] pixelzoom commented on #101
They can have any names you want :)  But I couldn't come up with anything better.  It's a boolean Property, and we typically name things based on their value, hence `falseRadioButton` and `trueRadioButton`.    We could change the value to a pair of descriptive names, but I'm at a loss for names ('connect' and ???).  So they will remain as-is until someone requests specific names.

Done. Default st

[2022-11-22 21:33] pixelzoom commented on #101
@amanda-phet @veillette How about `discontinuitiesProperty` with values `'connected'` and `'gap'`. Would that be clearer?

[2022-11-22 21:35] pixelzoom commented on #101
@amanda-phet @veillette How about `discontinuitiesProperty` with values `'gap'` and `'connected'`.   Or `gap` and `dashedLine`. Would that be clearer?

[2022-11-22 21:39] pixelzoom commented on #101
@amanda-phet @veillette Some ideas for values other than `true` and `false`...

*  `'gap'` and `'connected'`
* `'gap'` and `'dashedLine'`
* 'noLine'` and `'dashedLine'`

Would any of those be clearer?

[2022-11-22 21:39] amanda-phet commented on #101
I actually think a boolean property is easiest to use as a query parameter, but in the studio tree something like connectedRadioButton and disconnectedRadioButton might be easier to understand. Is that OK, or should the value of the qp also be the name of the radio button?

[2022-11-22 21:39] veillette commented on #77
We can close the issue. The last standing issue is with the Sine Function which is tracked in #85.  Closing

[2022-11-22 21:39] #77 closed

[2022-11-22 21:41] pixelzoom commented on #101
The name of the radio button typically matches the name of the query parameter value. But if you want to do something else, you're the designer.  And I don't feel strongly about it.

We could also stick with `falseRadioButton` and `trueRadioButton`, and add `phetioDocumentation` (which I doubt that anyone will ever read).

[2022-11-22 21:41] amanda-phet commented on #101
How about 'noLine' and 'dashedLine'. That seems clear to me!

And the associated elements would be `noLineRadioButton` and `dashedLineRadioButton`, right?

[2022-11-22 21:41] pixelzoom commented on #101
Yes, correct. I will make it so.

[2022-11-22 21:51] amanda-phet commented on #100
Yes, that behavior makes sense to me.

Definitely option (2). It should apply to the currently selected/interactive curve.

I think it should remember for the exact example you provided.

Let's discuss this because I am not sure exactly what you are asking.

Stateful I think I understand- do we want the prediction curve part of the saved state? I think so, because if it wasn't stateful that would

[2022-11-22 22:07] pixelzoom commented on #101
Change requests completed in the above commit.  Back to @amanda-phet for review.

Summary of changes:

* The Preferences UI is unchanged.  It looks like this:

<img width="258" alt="screenshot_1982" src="https://user-images.githubusercontent.com/3046552/203431066-9a40fa3b-9847-4c41-9b62-aca5e89ade5d.png">

* Query parameter `connectDiscontinuities` now has values "noLine" (default) and "dashedLine

[2022-11-22 22:12] pixelzoom commented on #100
@amanda-phet answered all of our questions, expect the statefulness of the prediction curve.  @veillette Unless it's going to be additional work (which I doubt), let's plan on the prediction curve being stateful.  In the current implementation, I believe that's the case by default.

[2022-11-23 01:28] amanda-phet commented on #101
Looks great to me. Thank you!

[2022-11-23 01:40] amanda-phet commented on #83
Linked right there at derivativeScreen.view.graphsNode.integralGraphNode.curveNode seems perfect to me.

[2022-11-23 01:45] amanda-phet commented on #104
I agree that a specific range for each zoom level makes sense. When I can load the sim, I'll play around with it and see if I have a suggestion.

Right now, I'd say any labels are "useful" so someone recognizes that they are zoomed differently than the original f(x) curve, and to get a sense of the scale. However, if there is an obvious range that would be easy to interpret (such as -100 to 100) t

[2022-11-23 01:49] amanda-phet commented on #102
This is fine for now.

Eventually we might style it differently an include some help text, so I think this can be closed.

[2022-11-23 01:49] #102 closed

[2022-11-23 01:51] amanda-phet commented on #105
Setting all y values to zero seems reasonable for this button. The user can always use reset-all to return to the state that was  saved via studio.

[2022-11-23 02:54] veillette commented on #104
It is worth keeping in mind that there are not value labels ( and ticks)
unless you check the box in the preference menu. Since most users will not
turned this on, at first, it is useful to provide some evidence of the
action of the zoom buttons.

I would argue that keeping the spacing between the gridlines fixed ( in
model coordinates) give you a better context of what is going on while
zooming.

[2022-11-23 13:04] veillette commented on #104
Rereading @amanda-phet comment. I think I understand it now.
She is suggesting to pick new model ranges for the y and x-coordinates such that says the initial ranges (without zooming) still give you "nice" numbers, say y ranging from -10 to 10 and x from 0 to 40,  but while preserving (without zooming) the isometry such that in the view one unit along x is the same length as along y. So we may nee

[2022-11-23 15:02] veillette commented on #85
The work on the sine is ready for review.

There are 3 and 1/2 cycles of sine (we can change the number)
By the time the width slider reaches about the halfway mark , the 3 1/2 cycles of the sine covers the whole range of the curve. In this way, we can have a full sinusoidal function for more than half the dynamic range of the slider and

When the ends of the sine is mostly zero, the sine curve en

[2022-11-23 19:28] veillette commented on #108
Lots of change in the commit above:
To summarize:
A new class `CurveManipulationProperties` was created, which host two curve Property:
[code]

The rest of the functionalities of the `OriginalCurve` were folded into `TransformedCurve`.

The class `OriginalCurveNode` was refactored to `TransformedCurveNode` and its signature was changed to accept an instance of a `TransformedCurve` and `CurveManipu

[2022-11-23 19:58] amanda-phet commented on #104
Yes @veillette I think you understand what I had in mind. It was just a thought to make the numbers better (for the first three screens, at least). The graphs are currently situated so that there's a lot of space below the graphs, so perhaps we should just increase the height of these graphs so they are -8 to 8 and not worry about the overall scale. The Lab screen is -5 to 5.

Then we can select "

[2022-11-23 20:19] veillette commented on #108
Overall, it cleans up nicely.

I'm assigning to @pixelzoom to review. It is a lot of changes which you are welcomed to look at .
One bit that would be worth discussing is in `OriginalGraphNode`, since attaching the new curveNode onto the graph was problematic.

For context, in `GraphNode`, we create an instance of `CurveNode`

[code]
and attach it to the scene graph.

in `OriginalGraphNode` which

[2022-11-23 23:50] veillette commented on #104
Assigning back to myself to come with with better values. I'll come back to it later.

For my own self :
2 Graphs : 630x245
3 Graphs : 630x175

[2022-11-28 17:38] veillette commented on #98
In the above commit, the notation of the labels in the dialog/preferences has been updated such that  (1) the  leibniz/lagrange notation examples have the same visual look as the rest of the sim and (2) the leibniz/lagrange notation is dynamical and get updated with a change of variable notation.

![image](https://user-images.githubusercontent.com/7633344/204343856-d970d32c-3e45-4b2c-a2ea-5ba9192a

[2022-11-28 19:51] veillette commented on #103
The work in #98 is nearly completed. It led to a lot of changes to CurveLabelNode. The content of curveLabelNode automatically updates itself based on the derivativeNotationProperty and variableProperty.
The CurveButtonIcon should be composed of a curveLabelNode with an scenery/Path that takes an appropriate color.
We should think about how to deal with the change of bounds of the CurveLabelNode.

[2022-11-28 20:34] veillette commented on #92
CT is no longer complaining. Closing.

[2022-11-28 20:34] #92 closed

[2022-11-28 21:26] veillette commented on #114
As stated by CM:

Here are screenshots of Studio to show the tree to turn on a sine function button on the derivative screen.

![image](https://user-images.githubusercontent.com/7633344/204383449-13011a4c-0aab-43ee-a5f5-3a42af67f623.png)

![image](https://user-images.githubusercontent.com/7633344/204383046-59219d46-51e4-42d5-8e20-f30c6907192d.png)

I'm assigning @amanda-phet to review. Feel free t

[2022-11-28 21:28] pixelzoom commented on #101
👍🏻 closing.

[2022-11-28 21:28] #101 closed

[2022-11-29 09:14] pixelzoom commented on #105
@veillette Since this is the default behavior (as demonstrated using the Test button in Studio), I don't think there's anything that needs to be done for this.  If you agree, please close this issue.

[2022-11-29 15:03] #105 closed

[2022-11-29 15:14] veillette commented on #105
In case anything changes, I will note that we could have restored the initial state with the eraser button with
[code]

[2022-11-29 16:01] veillette commented on #104
Here is a proposal for a new range
| # graphs     |  view width -> x Range |      view Height-> y Range model |
| ----------- | ----------- |------------|
|   1             |  612 -> 0 - 50      |  490-> -20 to 20  |
|   2             |  612 ->0 - 50      |  245-> -10 to 10  |
|   3             |  612-> 0 - 50      |  172-> -7 to 7     |
|   4             |  612-> 0 - 50      |  123-> -5 to 5    |

[2022-11-29 16:45] veillette commented on #65
I added a comment about savedYvalue and why it is not in the state object in  CurvePoint. I also added a link referencing this issue. Our work is done. Closing

[2022-11-29 16:45] #65 closed

[2022-11-29 16:50] pixelzoom opened #117 "Use of TModel and Screen<M,V>"
A couple of things related to TypeScript:

(1) Top-level model classes (like CalculusGrapherModel) are supposed to implement TModel.

(2) Screen is parameterized as Screen<M,V>, where M  is a TModel and V is a ScreenView.

Unfortunately tsc currently can't help with this, because Screen.js is using IntentionalAny for the ScreenView params. I'm going to create a joist issue to address that.

[2022-11-29 17:02] pixelzoom commented on #117
Addressed for Calculus Grapher in the above commit, and the more general issue has been reported in https://github.com/phetsims/joist/issues/886.

@veillette let me know if you'd like to discuss in our meeting today. Or if it's clear, feel free to close.

[2022-11-29 17:14] pixelzoom commented on #116
Here's the general idea of what I'd like to do to address this:

(1) Move GraphType and GraphSet from CalculusGrapherScreenView to GraphType.ts.

(2) Move options.graphSets to the Screen level, and pass to both the TModel and ScreenView subclasses.

(3) In CalculusGrapherScreenView, pass options.graphSets to GraphsNode.

(4) In GraphsNode, conditionally instrument each GraphNode instance, based on

[2022-11-29 17:31] pixelzoom opened #118 "Flatten CalculusGrapherControlPanelOptions. curvePushButtonGroupOptions to smoothButtonVisible"
I think we talked about this briefly in our pairing sessions last week...

In CalculusGrapherControlPanel.ts, this usage of nested options feels like it can be flattened to a single option:

[code]

... with `baseColor: PhetColorScheme.BUTTON_YELLOW` relocated elsewhere.

[2022-11-29 18:35] veillette commented on #117
We have reviewed during the meeting. Closing

[2022-11-29 18:35] #117 closed

[2022-11-29 19:30] veillette commented on #108
We have reviewed the previous work and came to the conclusion that it would be better to pass it via a new createCurveNode option, which was done in the commit above.

[2022-11-29 19:30] veillette commented on #108
Closing.

[2022-11-29 19:30] #108 closed

[2022-11-29 19:38] veillette commented on #116
@pixelzoom volunteered to take on this issue.

[2022-11-29 19:39] veillette commented on #107
Discussed on 11/29 and decided to not pursue this further. Closing.

[2022-11-29 19:39] #107 closed

[2022-11-29 19:46] veillette commented on #106
Unassigning myself and @pixelzoom will work on the implementation.

[2022-11-29 19:49] veillette commented on #103
@pixelzoom will work on the GraphSetRadioButtons and we will work on the "PredictMode" Buttons in a separate issue.

[2022-11-29 20:22] pixelzoom commented on #118
11/29/22 meeting: @veillette is going to handle this, and look for other places where nested options might be overkill.

[2022-11-29 20:25] veillette opened #119 "Name for f(x) curve"
We have several curves and graphs in the simulation. Since the name of the curves and graphs are exposed to PhET-IO, it is important to come up with names that encapsulate the nature of  the object. It has been pretty straightforward  to come up with such names for the curve that are related to f(x) such as

[code]

However, we don't have a very good name for f(x) curve and f(x) graph itself.
This

[2022-11-29 21:19] veillette opened #120 "Create separate Class named CueingArrowsNode"
OriginalGraphNode hosts a lot of logic to create and display an upAndDownArrow
[code]

This should be in its own class.

[2022-11-29 21:23] veillette commented on #120
Also a better name would be DoubleHeadedArrow.

[2022-11-29 21:53] pixelzoom commented on #120
The terminology that we've typically used for these arrows is "cueing arrows".  They cue the user that something can be dragged.  For example see CueingArrowsNode in geometric-optics, which renders these arrows:

<img width="1032" alt="screenshot_1989" src="https://user-images.githubusercontent.com/3046552/204656232-64c30576-a35b-4add-89d4-77941de98d86.png">

[2022-11-29 21:55] pixelzoom commented on #120
See also SecondPointCueingArrowsNode in geometric optics, which is the red arrows shown in the screenshot below.

<img width="185" alt="screenshot_1990" src="https://user-images.githubusercontent.com/3046552/204656823-6ef3a8af-62fe-46bf-8b92-cd519d1a8674.png">

[2022-11-29 22:01] pixelzoom commented on #120
In your implementation shown in https://github.com/phetsims/calculus-grapher/issues/120#issue-1468713262:

[code]

... I'd recommend simplifying by using a VBox:

[code]

[2022-11-30 00:46] pixelzoom commented on #118
Here's another example in CalculusGrapherScreenView.ts.  It's repeated 4x, with a different stroke value. I don't know if the nesting is necessary or useful.

[code]

[2022-11-30 01:01] pixelzoom commented on #116
Done in the above commits. @veillette please review.  For each screen, verify that only the relevant curves and graph nodes are instrumented.  Also note that I did not conditionally instrument originalCurve, predictCurve, and originalGraphNode, since they should always be present.

[2022-11-30 15:28] veillette commented on #120
SecondPointCueingArrowsNode is very similar to our need but CueingArrowsNode is a better name for our use case. So we will have CueingArrowsNode extends VBox using the simplification noted above.

[2022-11-30 15:43] veillette opened #121 "CueingArrows for f(x) and predict curve"
While working on encapsulating the creation of CueingArrow in a separate class (#120), it occurred to me that the behavior of CueingArrows is underspecified when we have both predict curve and f(x) curve.

Trying to think of the interactions, I would suggest that each curve would have cueing arrows "attached" to them. As a user would push on the predict button,  the predict curve would appear with

[2022-11-30 15:48] veillette commented on #121
Assigning a high priority as the behavior affects how and where we wired the cueingArrows.

[2022-11-30 15:58] veillette commented on #110
On the 11/29 meeting, we talked that having two booleans to track the discontinuity and cusp status of a point is suboptimal . We discussed creating instead an instead that would track the PointType which would be  (similar to RayTypes in GO)
``
type PointTypeValues = [ 'smooth', 'cusp',  'discontinuous' ] as const;
type PointType = ( typeof PointTypeValues )[number];
[code]

[2022-11-30 16:05] veillette commented on #116
That looks good and you also picked the copy-paste error in  `DerivativeScreenViewOptions` along the way  👍 .

[2022-11-30 16:05] #116 closed

[2022-11-30 16:19] veillette commented on #120
All the logic about when to turn on/off the visibility of the cueingArrows still reside in OriginalGraphNode, but it still cleans up nicely. In any case it may prove to be very useful to have a separate class when we adressed #121.

[2022-11-30 18:05] veillette commented on #118
I addressed the two previous cases. I created a ` smoothButtonVisible` field. I did not flatten the structure all the way though because I also changed the default value of smoothButtonVisible, by assuming the 'Advanced` and `Lab` screens are using the  "default" configuration of the panel.  This allows me to group the fields for the `Derivative` and `Integral` screens.

In this way,  the options

[2022-11-30 18:20] veillette commented on #109
The two fields ` visiblePropertiesOptions` and  `graphsRadioButtonGroupOptions` were not leveraged anywhere in the simulation, so they have been deleted. Closing

[2022-11-30 18:20] #109 closed

[2022-11-30 20:08] veillette commented on #100
`GraphNode` creates a `CurveNode`, but since `OriginalGraphNode` extends `GraphNode` and `OriginalGraphNode` add a predictCurveNode, it would be more appropriate for `GraphNode` to add a CurveLayer where all the curveNodes are added. The CurveLayer visiblity would the tied to the status EyeToggleButton.  The visibility of the individuals curve in OriginalGraphNode will be related to the status of

[2022-11-30 20:58] veillette commented on #100
`AllOriginalCurvesVisibleProperty` seems a particularly bad name but I cant think of a better one.  The 'show f(x)' checkbox is only present when the predictMode is enabled. The putative 'predictModeEnableProperty` should toggle the visibility of the f(x) and predict curve whereas `AllOriginalCurvesVisibleProperty` would toggle the visibility of f(x).

The logic for the two boolean expressions wou